docs/xquiz-html-1.0.0.dtd

<!-- This is the reference data for a pseudo-html as used by xquiz. The 
official DTD is currently stored at 
https://github.com/astrobit/xquiz/blob/master/docs/xquiz-html-1.0.0.dtd -->
<!-- This DTD based on the HTML 4 DTD and entity definitions at
https://www.w3.org/TR/html4/strict.dtd -->
<!-- DTD version 1.0 -->
<!-- version history -->
<!-- 1.0: first version-->

<!-- HTML definitions -->
<!ENTITY % HTML.Frameset "IGNORE">

<!ENTITY % ContentType "CDATA"
    -- media type, as per [RFC2045]
    -->

<!ENTITY % ContentTypes "CDATA"
    -- comma-separated list of media types, as per [RFC2045]
    -->

<!ENTITY % Charset "CDATA"
    -- a character encoding, as per [RFC2045]
    -->

<!ENTITY % Charsets "CDATA"
    -- a space-separated list of character encodings, as per [RFC2045]
    -->

<!ENTITY % LanguageCode "NAME"
    -- a language code, as per [RFC1766]
    -->

<!ENTITY % Character "CDATA"
    -- a single character from [ISO10646] 
    -->

<!ENTITY % LinkTypes "CDATA"
    -- space-separated list of link types
    -->

<!ENTITY % MediaDesc "CDATA"
    -- single or comma-separated list of media descriptors
    -->

<!ENTITY % URI "CDATA"
    -- a Uniform Resource Identifier,
       see [URI]
    -->

<!ENTITY % Datetime "CDATA" -- date and time information. ISO date format -->


<!ENTITY % Script "CDATA" -- script expression -->

<!ENTITY % StyleSheet "CDATA" -- style sheet data -->



<!ENTITY % Text "CDATA">


<!-- Parameter Entities -->

<!ENTITY % heading "h1|h2|h3">

<!ENTITY % list "ul | ol">

<!ENTITY % preformatted "pre">


<!--================ Character mnemonic entities =========================-->


<!ENTITY nbsp   "&#160;"> <!-- no-break space = non-breaking space,
                                  U+00A0 ISOnum -->
<!ENTITY iexcl  "&#161;"> <!-- inverted exclamation mark, U+00A1 ISOnum -->
<!ENTITY cent   "&#162;"> <!-- cent sign, U+00A2 ISOnum -->
<!ENTITY pound  "&#163;"> <!-- pound sign, U+00A3 ISOnum -->
<!ENTITY curren "&#164;"> <!-- currency sign, U+00A4 ISOnum -->
<!ENTITY yen    "&#165;"> <!-- yen sign = yuan sign, U+00A5 ISOnum -->
<!ENTITY brvbar "&#166;"> <!-- broken bar = broken vertical bar,
                                  U+00A6 ISOnum -->
<!ENTITY sect   "&#167;"> <!-- section sign, U+00A7 ISOnum -->
<!ENTITY uml    "&#168;"> <!-- diaeresis = spacing diaeresis,
                                  U+00A8 ISOdia -->
<!ENTITY copy   "&#169;"> <!-- copyright sign, U+00A9 ISOnum -->
<!ENTITY ordf   "&#170;"> <!-- feminine ordinal indicator, U+00AA ISOnum -->
<!ENTITY laquo  "&#171;"> <!-- left-pointing double angle quotation mark
                                  = left pointing guillemet, U+00AB ISOnum -->
<!ENTITY not    "&#172;"> <!-- not sign = angled dash,
                                  U+00AC ISOnum -->
<!ENTITY shy    "&#173;"> <!-- soft hyphen = discretionary hyphen,
                                  U+00AD ISOnum -->
<!ENTITY reg    "&#174;"> <!-- registered sign = registered trade mark sign,
                                  U+00AE ISOnum -->
<!ENTITY macr   "&#175;"> <!-- macron = spacing macron = overline
                                  = APL overbar, U+00AF ISOdia -->
<!ENTITY deg    "&#176;"> <!-- degree sign, U+00B0 ISOnum -->
<!ENTITY plusmn "&#177;"> <!-- plus-minus sign = plus-or-minus sign,
                                  U+00B1 ISOnum -->
<!ENTITY sup2   "&#178;"> <!-- superscript two = superscript digit two
                                  = squared, U+00B2 ISOnum -->
<!ENTITY sup3   "&#179;"> <!-- superscript three = superscript digit three
                                  = cubed, U+00B3 ISOnum -->
<!ENTITY acute  "&#180;"> <!-- acute accent = spacing acute,
                                  U+00B4 ISOdia -->
<!ENTITY micro  "&#181;"> <!-- micro sign, U+00B5 ISOnum -->
<!ENTITY para   "&#182;"> <!-- pilcrow sign = paragraph sign,
                                  U+00B6 ISOnum -->
<!ENTITY middot "&#183;"> <!-- middle dot = Georgian comma
                                  = Greek middle dot, U+00B7 ISOnum -->
<!ENTITY cedil  "&#184;"> <!-- cedilla = spacing cedilla, U+00B8 ISOdia -->
<!ENTITY sup1   "&#185;"> <!-- superscript one = superscript digit one,
                                  U+00B9 ISOnum -->
<!ENTITY ordm   "&#186;"> <!-- masculine ordinal indicator,
                                  U+00BA ISOnum -->
<!ENTITY raquo  "&#187;"> <!-- right-pointing double angle quotation mark
                                  = right pointing guillemet, U+00BB ISOnum -->
<!ENTITY frac14 "&#188;"> <!-- vulgar fraction one quarter
                                  = fraction one quarter, U+00BC ISOnum -->
<!ENTITY frac12 "&#189;"> <!-- vulgar fraction one half
                                  = fraction one half, U+00BD ISOnum -->
<!ENTITY frac34 "&#190;"> <!-- vulgar fraction three quarters
                                  = fraction three quarters, U+00BE ISOnum -->
<!ENTITY iquest "&#191;"> <!-- inverted question mark
                                  = turned question mark, U+00BF ISOnum -->
<!ENTITY Agrave "&#192;"> <!-- latin capital letter A with grave
                                  = latin capital letter A grave,
                                  U+00C0 ISOlat1 -->
<!ENTITY Aacute "&#193;"> <!-- latin capital letter A with acute,
                                  U+00C1 ISOlat1 -->
<!ENTITY Acirc  "&#194;"> <!-- latin capital letter A with circumflex,
                                  U+00C2 ISOlat1 -->
<!ENTITY Atilde "&#195;"> <!-- latin capital letter A with tilde,
                                  U+00C3 ISOlat1 -->
<!ENTITY Auml   "&#196;"> <!-- latin capital letter A with diaeresis,
                                  U+00C4 ISOlat1 -->
<!ENTITY Aring  "&#197;"> <!-- latin capital letter A with ring above
                                  = latin capital letter A ring,
                                  U+00C5 ISOlat1 -->
<!ENTITY AElig  "&#198;"> <!-- latin capital letter AE
                                  = latin capital ligature AE,
                                  U+00C6 ISOlat1 -->
<!ENTITY Ccedil "&#199;"> <!-- latin capital letter C with cedilla,
                                  U+00C7 ISOlat1 -->
<!ENTITY Egrave "&#200;"> <!-- latin capital letter E with grave,
                                  U+00C8 ISOlat1 -->
<!ENTITY Eacute "&#201;"> <!-- latin capital letter E with acute,
                                  U+00C9 ISOlat1 -->
<!ENTITY Ecirc  "&#202;"> <!-- latin capital letter E with circumflex,
                                  U+00CA ISOlat1 -->
<!ENTITY Euml   "&#203;"> <!-- latin capital letter E with diaeresis,
                                  U+00CB ISOlat1 -->
<!ENTITY Igrave "&#204;"> <!-- latin capital letter I with grave,
                                  U+00CC ISOlat1 -->
<!ENTITY Iacute "&#205;"> <!-- latin capital letter I with acute,
                                  U+00CD ISOlat1 -->
<!ENTITY Icirc  "&#206;"> <!-- latin capital letter I with circumflex,
                                  U+00CE ISOlat1 -->
<!ENTITY Iuml   "&#207;"> <!-- latin capital letter I with diaeresis,
                                  U+00CF ISOlat1 -->
<!ENTITY ETH    "&#208;"> <!-- latin capital letter ETH, U+00D0 ISOlat1 -->
<!ENTITY Ntilde "&#209;"> <!-- latin capital letter N with tilde,
                                  U+00D1 ISOlat1 -->
<!ENTITY Ograve "&#210;"> <!-- latin capital letter O with grave,
                                  U+00D2 ISOlat1 -->
<!ENTITY Oacute "&#211;"> <!-- latin capital letter O with acute,
                                  U+00D3 ISOlat1 -->
<!ENTITY Ocirc  "&#212;"> <!-- latin capital letter O with circumflex,
                                  U+00D4 ISOlat1 -->
<!ENTITY Otilde "&#213;"> <!-- latin capital letter O with tilde,
                                  U+00D5 ISOlat1 -->
<!ENTITY Ouml   "&#214;"> <!-- latin capital letter O with diaeresis,
                                  U+00D6 ISOlat1 -->
<!ENTITY times  "&#215;"> <!-- multiplication sign, U+00D7 ISOnum -->
<!ENTITY Oslash "&#216;"> <!-- latin capital letter O with stroke
                                  = latin capital letter O slash,
                                  U+00D8 ISOlat1 -->
<!ENTITY Ugrave "&#217;"> <!-- latin capital letter U with grave,
                                  U+00D9 ISOlat1 -->
<!ENTITY Uacute "&#218;"> <!-- latin capital letter U with acute,
                                  U+00DA ISOlat1 -->
<!ENTITY Ucirc  "&#219;"> <!-- latin capital letter U with circumflex,
                                  U+00DB ISOlat1 -->
<!ENTITY Uuml   "&#220;"> <!-- latin capital letter U with diaeresis,
                                  U+00DC ISOlat1 -->
<!ENTITY Yacute "&#221;"> <!-- latin capital letter Y with acute,
                                  U+00DD ISOlat1 -->
<!ENTITY THORN  "&#222;"> <!-- latin capital letter THORN,
                                  U+00DE ISOlat1 -->
<!ENTITY szlig  "&#223;"> <!-- latin small letter sharp s = ess-zed,
                                  U+00DF ISOlat1 -->
<!ENTITY agrave "&#224;"> <!-- latin small letter a with grave
                                  = latin small letter a grave,
                                  U+00E0 ISOlat1 -->
<!ENTITY aacute "&#225;"> <!-- latin small letter a with acute,
                                  U+00E1 ISOlat1 -->
<!ENTITY acirc  "&#226;"> <!-- latin small letter a with circumflex,
                                  U+00E2 ISOlat1 -->
<!ENTITY atilde "&#227;"> <!-- latin small letter a with tilde,
                                  U+00E3 ISOlat1 -->
<!ENTITY auml   "&#228;"> <!-- latin small letter a with diaeresis,
                                  U+00E4 ISOlat1 -->
<!ENTITY aring  "&#229;"> <!-- latin small letter a with ring above
                                  = latin small letter a ring,
                                  U+00E5 ISOlat1 -->
<!ENTITY aelig  "&#230;"> <!-- latin small letter ae
                                  = latin small ligature ae, U+00E6 ISOlat1 -->
<!ENTITY ccedil "&#231;"> <!-- latin small letter c with cedilla,
                                  U+00E7 ISOlat1 -->
<!ENTITY egrave "&#232;"> <!-- latin small letter e with grave,
                                  U+00E8 ISOlat1 -->
<!ENTITY eacute "&#233;"> <!-- latin small letter e with acute,
                                  U+00E9 ISOlat1 -->
<!ENTITY ecirc  "&#234;"> <!-- latin small letter e with circumflex,
                                  U+00EA ISOlat1 -->
<!ENTITY euml   "&#235;"> <!-- latin small letter e with diaeresis,
                                  U+00EB ISOlat1 -->
<!ENTITY igrave "&#236;"> <!-- latin small letter i with grave,
                                  U+00EC ISOlat1 -->
<!ENTITY iacute "&#237;"> <!-- latin small letter i with acute,
                                  U+00ED ISOlat1 -->
<!ENTITY icirc  "&#238;"> <!-- latin small letter i with circumflex,
                                  U+00EE ISOlat1 -->
<!ENTITY iuml   "&#239;"> <!-- latin small letter i with diaeresis,
                                  U+00EF ISOlat1 -->
<!ENTITY eth    "&#240;"> <!-- latin small letter eth, U+00F0 ISOlat1 -->
<!ENTITY ntilde "&#241;"> <!-- latin small letter n with tilde,
                                  U+00F1 ISOlat1 -->
<!ENTITY ograve "&#242;"> <!-- latin small letter o with grave,
                                  U+00F2 ISOlat1 -->
<!ENTITY oacute "&#243;"> <!-- latin small letter o with acute,
                                  U+00F3 ISOlat1 -->
<!ENTITY ocirc  "&#244;"> <!-- latin small letter o with circumflex,
                                  U+00F4 ISOlat1 -->
<!ENTITY otilde "&#245;"> <!-- latin small letter o with tilde,
                                  U+00F5 ISOlat1 -->
<!ENTITY ouml   "&#246;"> <!-- latin small letter o with diaeresis,
                                  U+00F6 ISOlat1 -->
<!ENTITY divide "&#247;"> <!-- division sign, U+00F7 ISOnum -->
<!ENTITY oslash "&#248;"> <!-- latin small letter o with stroke,
                                  = latin small letter o slash,
                                  U+00F8 ISOlat1 -->
<!ENTITY ugrave "&#249;"> <!-- latin small letter u with grave,
                                  U+00F9 ISOlat1 -->
<!ENTITY uacute "&#250;"> <!-- latin small letter u with acute,
                                  U+00FA ISOlat1 -->
<!ENTITY ucirc  "&#251;"> <!-- latin small letter u with circumflex,
                                  U+00FB ISOlat1 -->
<!ENTITY uuml   "&#252;"> <!-- latin small letter u with diaeresis,
                                  U+00FC ISOlat1 -->
<!ENTITY yacute "&#253;"> <!-- latin small letter y with acute,
                                  U+00FD ISOlat1 -->
<!ENTITY thorn  "&#254;"> <!-- latin small letter thorn,
                                  U+00FE ISOlat1 -->
<!ENTITY yuml   "&#255;"> <!-- latin small letter y with diaeresis,
                                  U+00FF ISOlat1 -->
<!--=================== Symbols===========================================-->

<!-- Mathematical and Symbolic characters for HTML -->
<!-- new names do not clash with any existing ISO 8879 entity names -->

<!-- Assorted technical symbols, names taken from ISOtech except as noted -->

<!ENTITY prime    CDATA "&#8242;" -- prime, =minutes, =feet, U2032 -->
<!ENTITY oline    CDATA "&#8254;" -- overline, =spacing overscore, U203E !ISOtech -->
<!ENTITY fsla     CDATA "&#8260;" -- fraction slash, U2044 !ISOtech -->
<!ENTITY forall   CDATA "&#8704;" -- for all, U2200 -->
<!ENTITY exist    CDATA "&#8707;" -- there exists, U2203-->
<!ENTITY ni       CDATA "&#8715;" -- contains as member, U220B -->
<!ENTITY minus    CDATA "&#8722;" -- minus sign, U2212 -->
<!ENTITY lowast   CDATA "&#8727;" -- asterisk operator, U2217 -->
<!ENTITY infin    CDATA "&#8734;" -- infinity, U221E -->

<!ENTITY there4   CDATA "&#8756;" -- therefore, U2234  -->

<!ENTITY sim      CDATA "&#;" -- tilde operator, =varies with, =similar to, U223C -->
<!-- this is NOT the same character as the tilde, U007E, although the same 
     glyph might be used to represent both characters -->


<!ENTITY le       CDATA "&#8804;" -- less-than-or-equal, U2264  -->



<!ENTITY perp     CDATA "&#8869;" -- up tack, =orthogonal to, =perpendicular U22A5 -->

<!ENTITY cong     CDATA "&#8773;" -- approximately equal to, U2245  -->

<!ENTITY perp     CDATA "&#8869;" -- up tack =perpendicular, U22A5 -->

<!-- Modern Greek upper and lowercase letters -->
<!-- names taken from ISOgrk1 -->
<!-- would it be beter to extend the (incomplete list of) names in 
     ISOgrk3 ie Alpha, beta, etc -->

<!ENTITY agr    CDATA "&#945;" -- small alpha, Greek, U03B1 -->
<!ENTITY Agr    CDATA "&#913;" -- capital Alpha, Greek, U0391 -->
<!ENTITY bgr    CDATA "&#946;" -- small beta, Greek, U03B2 -->
<!ENTITY Bgr    CDATA "&#914;" -- capital Beta, Greek, U0392 -->
<!ENTITY ggr    CDATA "&#947;" -- small gamma, Greek, U03B3 -->
<!ENTITY Ggr    CDATA "&#915;" -- capital Gamma, Greek, U0393 -->
<!ENTITY dgr    CDATA "&#948;" -- small delta, Greek, U03B4 -->
<!ENTITY Dgr    CDATA "&#916;" -- capital Delta, Greek, U0394 -->
<!ENTITY egr    CDATA "&#949;" -- small epsilon, Greek, U03B5 -->
<!ENTITY Egr    CDATA "&#917;" -- capital Epsilon, Greek, U0395 -->
<!ENTITY zgr    CDATA "&#950;" -- small zeta, Greek, U03B6 -->
<!ENTITY Zgr    CDATA "&#918;" -- capital Zeta, Greek, U0396 -->
<!ENTITY eegr   CDATA "&#951;" -- small eta, Greek, U03B7 -->
<!ENTITY EEgr   CDATA "&#919;" -- capital Eta, Greek, U0397 -->
<!ENTITY thgr   CDATA "&#952;" -- small theta, Greek, U03B8 -->
<!ENTITY THgr   CDATA "&#920;" -- capital Theta, Greek, U0398 -->
<!ENTITY igr    CDATA "&#953;" -- small iota, Greek, U03B9 -->
<!ENTITY Igr    CDATA "&#921;" -- capital Iota, Greek, U0399 -->
<!ENTITY kgr    CDATA "&#954;" -- small kappa, Greek, U03BA -->
<!ENTITY Kgr    CDATA "&#922;" -- capital Kappa, Greek, U039A -->
<!ENTITY lgr    CDATA "&#955;" -- small lambda, Greek, U03BB -->
<!ENTITY Lgr    CDATA "&#923;" -- capital Lambda, Greek, U039B -->
<!ENTITY mgr    CDATA "&#956;" -- small mu, Greek, U03BC -->
<!ENTITY Mgr    CDATA "&#924;" -- capital Mu, Greek, U039C -->
<!ENTITY ngr    CDATA "&#957;" -- small nu, Greek, U03BD -->
<!ENTITY Ngr    CDATA "&#925;" -- capital Nu, Greek, U039D -->
<!ENTITY xgr    CDATA "&#958;" -- small xi, Greek, U03BE -->
<!ENTITY Xgr    CDATA "&#926;" -- capital Xi, Greek, U039E -->
<!ENTITY ogr    CDATA "&#959;" -- small omicron, Greek, U03BF -->
<!ENTITY Ogr    CDATA "&#927;" -- capital Omicron, Greek, U039F -->
<!ENTITY pgr    CDATA "&#960;" -- small pi, Greek, U03C0 -->
<!ENTITY Pgr    CDATA "&#928;" -- capital Pi, Greek, U03A0 -->
<!ENTITY rgr    CDATA "&#961;" -- small rho, Greek, U03C1 -->
<!ENTITY Rgr    CDATA "&#929;" -- capital Rho, Greek, U03A1 -->
<!ENTITY sfgr   CDATA "&#962;" -- final small sigma, Greek, U03C2 -->
<!-- (there is no Sfgr, and no U03A2 character either) -->
<!ENTITY sgr    CDATA "&#963;" -- small sigma, Greek, U03C3 -->
<!ENTITY Sgr    CDATA "&#931;" -- capital Sigma, Greek, U03A3 -->
<!ENTITY tgr    CDATA "&#964;" -- small tau, Greek, U03C4 -->
<!ENTITY Tgr    CDATA "&#932;" -- capital Tau, Greek, U03A4 -->
<!ENTITY ugr    CDATA "&#965;" -- small upsilon, Greek, U03C5 -->
<!ENTITY Ugr    CDATA "&#933;" -- capital Upsilon, Greek, U03A5 -->
<!ENTITY phgr   CDATA "&#966;" -- small phi, Greek, U03C6 -->
<!ENTITY PHgr   CDATA "&#934;" -- capital Phi, Greek, U03A6 -->
<!ENTITY khgr   CDATA "&#967;" -- small chi, Greek, U03C7 -->
<!ENTITY KHgr   CDATA "&#935;" -- capital Chi, Greek, U03A7 -->
<!ENTITY psgr   CDATA "&#968;" -- small psi, Greek, U03C8 -->
<!ENTITY PSgr   CDATA "&#936;" -- capital Psi, Greek, U03A8 -->
<!ENTITY ohgr   CDATA "&#969;" -- small omega, Greek, U03C9 -->
<!ENTITY OHgr   CDATA "&#937;" -- capital Omega, Greek, U03A9 -->

<!-- variants from ISOgrk3, not clear these are the right names -->
<!ENTITY thetav CDATA "&#977;" -- small theta symbol, Greek, U03D1 -->
<!ENTITY piv    CDATA "&#982;" -- small omega pi, Greek, U03D6 -->

<!-- new entity, not in ISOgrk 1-4 -->
<!ENTITY Uhgr   CDATA "&#978;" -- capital Upsilon hook, Greek, U03D2 -->

<!--=================== Special entities ===============================-->


<!-- Entities for escaping markup-significant characters -->

<!ENTITY amp    CDATA "&#38;"   -- ampersand             -->
<!ENTITY gt     CDATA "&#62;"   -- greater than          -->
<!ENTITY lt     CDATA "&#60;"   -- less than             -->
<!ENTITY quot   CDATA "&#34;"   -- double quote          -->

<!-- Entities for spaces and dashes -->

<!ENTITY copy   CDATA "&#169"   -- copyright sign        -->
<!ENTITY reg    CDATA "&#174"   -- registered sign       -->
<!ENTITY nbsp   CDATA "&#160;"  -- non breaking space    -->
<!ENTITY trade  CDATA "&#8482;" -- trade mark symbol     -->
<!ENTITY shy    CDATA "&#173;"  -- soft hyphen           -->
<!ENTITY thinsp CDATA "&#8201;" -- thin space (1/6 em)   -->
<!ENTITY emsp   CDATA "&#8195;" -- em space              -->
<!ENTITY ensp   CDATA "&#8194;" -- en space (1/2 em)     -->
<!ENTITY mdash  CDATA "&#8212;" -- em dash               -->
<!ENTITY ndash  CDATA "&#8211;" -- en dash               -->

<!-- Language-dependent BIDI and contextual analysis     -->

<!ENTITY zwnj   CDATA "&#8204;" -- zero width non-joiner -->
<!ENTITY zwj    CDATA "&#8205;" -- zero width joiner     -->
<!ENTITY lrm    CDATA "&#8206;" -- left-to-right mark    -->
<!ENTITY rlm    CDATA "&#8207;" -- right-to-left mark    -->

<!--=================== Generic Attributes ===============================-->

<!ENTITY % coreattrs
 "id          ID             #IMPLIED  -- document-wide unique id --
  class       CDATA          #IMPLIED  -- space-separated list of classes --
  style       %StyleSheet;   #IMPLIED  -- associated style info --
  title       %Text;         #IMPLIED  -- advisory title --"
  >

<!ENTITY % i18n
 "lang        %LanguageCode; #IMPLIED  -- language code --
  dir         (ltr|rtl)      #IMPLIED  -- direction for weak/neutral text --"
  >

<!ENTITY % events
 "onclick     %Script;       #IMPLIED  -- a pointer button was clicked --
  ondblclick  %Script;       #IMPLIED  -- a pointer button was double clicked--
  onmousedown %Script;       #IMPLIED  -- a pointer button was pressed down --
  onmouseup   %Script;       #IMPLIED  -- a pointer button was released --
  onmouseover %Script;       #IMPLIED  -- a pointer was moved onto --
  onmousemove %Script;       #IMPLIED  -- a pointer was moved within --
  onmouseout  %Script;       #IMPLIED  -- a pointer was moved away --
  onkeypress  %Script;       #IMPLIED  -- a key was pressed and released --
  onkeydown   %Script;       #IMPLIED  -- a key was pressed down --
  onkeyup     %Script;       #IMPLIED  -- a key was released --"
  >

<!-- Reserved Feature Switch -->
<!ENTITY % HTML.Reserved "IGNORE">

<!-- The following attributes are reserved for possible future use -->
<![ %HTML.Reserved; [
<!ENTITY % reserved
 "datasrc     %URI;          #IMPLIED  -- a single or tabular Data Source --
  datafld     CDATA          #IMPLIED  -- the property or column name --
  dataformatas (plaintext|html) plaintext -- text or html --"
  >
]]>

<!ENTITY % reserved "">

<!ENTITY % attrs "%coreattrs; %i18n; %events;">


<!--=================== Text Markup ======================================-->

<!ENTITY % fontstyle
 "tt | i | b | big | small">

<!ENTITY % phrase "em | strong | dfn | code |
                   samp | kbd | var | cite | abbr | acronym" >

<!ENTITY % special
   "a | img | object | br | q | sub | sup | span | bdo">

<!-- %inline; covers inline or "text-level" elements -->
<!ENTITY % inline "#PCDATA | %fontstyle; | %phrase; | %special;">

<!ELEMENT (%fontstyle;|%phrase;) - - (%inline;)*>
<!ATTLIST (%fontstyle;|%phrase;)
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!ELEMENT (sub|sup) - - (%inline;)*    -- subscript, superscript -->
<!ATTLIST (sub|sup)
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!ELEMENT span - - (%inline;)*         -- generic language/style container -->
<!ATTLIST span
  %attrs;                              -- %coreattrs, %i18n, %events --
  %reserved;			       -- reserved for possible future use --
  >

<!ELEMENT bdo - - (%inline;)*          -- I18N BiDi over-ride -->
<!ATTLIST bdo
  %coreattrs;                          -- id, class, style, title --
  lang        %LanguageCode; #IMPLIED  -- language code --
  dir         (ltr|rtl)      #REQUIRED -- directionality --
  >


<!ELEMENT br - O EMPTY                 -- forced line break -->
<!ATTLIST br
  %coreattrs;                          -- id, class, style, title --
  >

<!--================== HTML content models ===============================-->

<!--
    HTML has two basic content models:

        %inline;     character level elements and text strings
        %block;      block-like elements e.g. paragraphs and lists
-->

<!ENTITY % block
     "p | %heading; | %list; | %preformatted; | dl | div | 
      blockquote | hr | table ">

<!ENTITY % flow "%block; | %inline;">


<!--================== The Anchor Element ================================-->

<!ENTITY % Shape "(rect|circle|poly|default)">
<!ENTITY % Coords "CDATA" -- comma-separated list of lengths -->

<!ELEMENT a - - (%inline;)* -(a)       -- anchor -->
<!ATTLIST a
  %attrs;                              -- %coreattrs, %i18n, %events --
  charset     %Charset;      #IMPLIED  -- char encoding of linked resource --
  type        %ContentType;  #IMPLIED  -- advisory content type --
  name        CDATA          #IMPLIED  -- named link end --
  href        %URI;          #IMPLIED  -- URI for linked resource --
  hreflang    %LanguageCode; #IMPLIED  -- language code --
  rel         %LinkTypes;    #IMPLIED  -- forward link types --
  rev         %LinkTypes;    #IMPLIED  -- reverse link types --
  accesskey   %Character;    #IMPLIED  -- accessibility key character --
  shape       %Shape;        rect      -- for use with client-side image maps --
  coords      %Coords;       #IMPLIED  -- for use with client-side image maps --
  tabindex    NUMBER         #IMPLIED  -- position in tabbing order --
  onfocus     %Script;       #IMPLIED  -- the element got the focus --
  onblur      %Script;       #IMPLIED  -- the element lost the focus --
  >


<!--=================== Images ===========================================-->

<!-- Length defined in strict DTD for cellpadding/cellspacing -->
<!ENTITY % Length "CDATA" -- nn for pixels or nn% for percentage length -->
<!ENTITY % MultiLength "CDATA" -- pixel, percentage, or relative -->

<![ %HTML.Frameset; [
<!ENTITY % MultiLengths "CDATA" -- comma-separated list of MultiLength -->
]]>

<!ENTITY % Pixels "CDATA" -- integer representing length in pixels -->


<!-- To avoid problems with text-only UAs as well as 
   to make image content understandable and navigable 
   to users of non-visual UAs, you need to provide
   a description with ALT, and avoid server-side image maps -->
<!ELEMENT img - O EMPTY                -- Embedded image -->
<!ATTLIST img
  %attrs;                              -- %coreattrs, %i18n, %events --
  src         %URI;          #REQUIRED -- URI of image to embed --
  alt         %Text;         #REQUIRED -- short description --
  longdesc    %URI;          #IMPLIED  -- link to long description
                                          (complements alt) --
  name        CDATA          #IMPLIED  -- name of image for scripting --
  height      %Length;       #IMPLIED  -- override height --
  width       %Length;       #IMPLIED  -- override width --
  usemap      %URI;          #IMPLIED  -- use client-side image map --
  ismap       (ismap)        #IMPLIED  -- use server-side image map --
  scale       CDATA          "1"       -- scale factor override --
  >

<!-- USEMAP points to a MAP element which may be in this document
  or an external document, although the latter is not widely supported -->



<!--=================== Horizontal Rule ==================================-->

<!ELEMENT hr - O EMPTY -- horizontal rule -->
<!ATTLIST hr
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!--=================== Paragraphs =======================================-->

<!ELEMENT p - O (%inline;)*            -- paragraph -->
<!ATTLIST p
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!--=================== Headings =========================================-->

<!--
  There are six levels of headings from H1 (the most important)
  to H6 (the least important).
-->

<!ELEMENT (%heading;)  - - (%inline;)* -- heading -->
<!ATTLIST (%heading;)
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!--=================== Preformatted Text ================================-->

<!-- excludes markup for images and changes in font size -->
<!ENTITY % pre.exclusion "img|object|big|small|sub|sup">

<!ELEMENT pre - - (%inline;)* -(%pre.exclusion;) -- preformatted text -->
<!ATTLIST pre
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!--===================== Inline Quotes ==================================-->

<!ELEMENT q - - (%inline;)*            -- short inline quotation -->
<!ATTLIST q
  %attrs;                              -- %coreattrs, %i18n, %events --
  cite        %URI;          #IMPLIED  -- URI for source document or msg --
  >

<!--=================== Block-like Quotes ================================-->

<!ELEMENT blockquote - - (%block;)+ -- long quotation -->
<!ATTLIST blockquote
  %attrs;                              -- %coreattrs, %i18n, %events --
  cite        %URI;          #IMPLIED  -- URI for source document or msg --
  >

<!--=================== Inserted/Deleted Text ============================-->


<!-- INS/DEL are handled by inclusion on BODY -->
<!ELEMENT (ins|del) - - (%flow;)*      -- inserted text, deleted text -->
<!ATTLIST (ins|del)
  %attrs;                              -- %coreattrs, %i18n, %events --
  cite        %URI;          #IMPLIED  -- info on reason for change --
  datetime    %Datetime;     #IMPLIED  -- date and time of change --
  >

<!--=================== Lists ============================================-->

<!-- definition lists - DT for term, DD for its definition -->

<!ELEMENT dl - - (dt|dd)+              -- definition list -->
<!ATTLIST dl
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!ELEMENT dt - O (%inline;)*           -- definition term -->
<!ELEMENT dd - O (%flow;)*             -- definition description -->
<!ATTLIST (dt|dd)
  %attrs;                              -- %coreattrs, %i18n, %events --
  >


<!ELEMENT ol - - (li)+                 -- ordered list -->
<!ATTLIST ol
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!-- Unordered Lists (UL) bullet styles -->
<!ELEMENT ul - - (li)+                 -- unordered list -->
<!ATTLIST ul
  %attrs;                              -- %coreattrs, %i18n, %events --
  >



<!ELEMENT li - O (%flow;)*             -- list item -->
<!ATTLIST li
  %attrs;                              -- %coreattrs, %i18n, %events --
  >


<!--======================= Tables =======================================-->

<!-- IETF HTML table standard, see [RFC1942] -->

<!--
 The BORDER attribute sets the thickness of the frame around the
 table. The default units are screen pixels.

 The FRAME attribute specifies which parts of the frame around
 the table should be rendered. The values are not the same as
 CALS to avoid a name clash with the VALIGN attribute.

 The value "border" is included for backwards compatibility with
 <TABLE BORDER> which yields frame=border and border=implied
 For <TABLE BORDER=1> you get border=1 and frame=implied. In this
 case, it is appropriate to treat this as frame=border for backwards
 compatibility with deployed browsers.
-->
<!ENTITY % TFrame "(void|above|below|hsides|lhs|rhs|vsides|box|border)">

<!--
 The RULES attribute defines which rules to draw between cells:

 If RULES is absent then assume:
     "none" if BORDER is absent or BORDER=0 otherwise "all"
-->

<!ENTITY % TRules "(none | groups | rows | cols | all)">
  
<!-- horizontal placement of table relative to document -->
<!ENTITY % TAlign "(left|center|right)">

<!-- horizontal alignment attributes for cell contents -->
<!ENTITY % cellhalign
  "align      (left|center|right|justify|char) #IMPLIED
   char       %Character;    #IMPLIED  -- alignment char, e.g. char=':' --
   charoff    %Length;       #IMPLIED  -- offset for alignment char --"
  >

<!-- vertical alignment attributes for cell contents -->
<!ENTITY % cellvalign
  "valign     (top|middle|bottom|baseline) #IMPLIED"
  >

<!ELEMENT table - -
     (caption?, (col*|colgroup*), thead?, tfoot?, tbody+)>
<!ELEMENT caption  - - (%inline;)*     -- table caption -->
<!ELEMENT thead    - O (tr)+           -- table header -->
<!ELEMENT tfoot    - O (tr)+           -- table footer -->
<!ELEMENT tbody    O O (tr)+           -- table body -->
<!ELEMENT colgroup - O (col)*          -- table column group -->
<!ELEMENT col      - O EMPTY           -- table column -->
<!ELEMENT tr       - O (th|td)+        -- table row -->
<!ELEMENT (th|td)  - O (%flow;)*       -- table header cell, table data cell-->

<!ATTLIST table                        -- table element --
  %attrs;                              -- %coreattrs, %i18n, %events --
  summary     %Text;         #IMPLIED  -- purpose/structure for speech output--
  width       %Length;       #IMPLIED  -- table width --
  border      %Pixels;       #IMPLIED  -- controls frame width around table --
  frame       %TFrame;       #IMPLIED  -- which parts of frame to render --
  rules       %TRules;       #IMPLIED  -- rulings between rows and cols --
  cellspacing %Length;       #IMPLIED  -- spacing between cells --
  cellpadding %Length;       #IMPLIED  -- spacing within cells --
  %reserved;                           -- reserved for possible future use --
  datapagesize CDATA         #IMPLIED  -- reserved for possible future use --
  >


<!ATTLIST caption
  %attrs;                              -- %coreattrs, %i18n, %events --
  >

<!--
COLGROUP groups a set of COL elements. It allows you to group
several semantically related columns together.
-->
<!ATTLIST colgroup
  %attrs;                              -- %coreattrs, %i18n, %events --
  span        NUMBER         1         -- default number of columns in group --
  width       %MultiLength;  #IMPLIED  -- default width for enclosed COLs --
  %cellhalign;                         -- horizontal alignment in cells --
  %cellvalign;                         -- vertical alignment in cells --
  >

<!--
 COL elements define the alignment properties for cells in
 one or more columns.

 The WIDTH attribute specifies the width of the columns, e.g.

     width=64        width in screen pixels
     width=0.5*      relative width of 0.5

 The SPAN attribute causes the attributes of one
 COL element to apply to more than one column.
-->
<!ATTLIST col                          -- column groups and properties --
  %attrs;                              -- %coreattrs, %i18n, %events --
  span        NUMBER         1         -- COL attributes affect N columns --
  width       %MultiLength;  #IMPLIED  -- column width specification --
  %cellhalign;                         -- horizontal alignment in cells --
  %cellvalign;                         -- vertical alignment in cells --
  >

<!--
    Use THEAD to duplicate headers when breaking table
    across page boundaries, or for static headers when
    TBODY sections are rendered in scrolling panel.

    Use TFOOT to duplicate footers when breaking table
    across page boundaries, or for static footers when
    TBODY sections are rendered in scrolling panel.

    Use multiple TBODY sections when rules are needed
    between groups of table rows.
-->
<!ATTLIST (thead|tbody|tfoot)          -- table section --
  %attrs;                              -- %coreattrs, %i18n, %events --
  %cellhalign;                         -- horizontal alignment in cells --
  %cellvalign;                         -- vertical alignment in cells --
  >

<!ATTLIST tr                           -- table row --
  %attrs;                              -- %coreattrs, %i18n, %events --
  %cellhalign;                         -- horizontal alignment in cells --
  %cellvalign;                         -- vertical alignment in cells --
  >


<!-- Scope is simpler than headers attribute for common tables -->
<!ENTITY % Scope "(row|col|rowgroup|colgroup)">

<!-- TH is for headers, TD for data, but for cells acting as both use TD -->
<!ATTLIST (th|td)                      -- header or data cell --
  %attrs;                              -- %coreattrs, %i18n, %events --
  abbr        %Text;         #IMPLIED  -- abbreviation for header cell --
  axis        CDATA          #IMPLIED  -- comma-separated list of related headers--
  headers     IDREFS         #IMPLIED  -- list of id's for header cells --
  scope       %Scope;        #IMPLIED  -- scope covered by header cells --
  rowspan     NUMBER         1         -- number of rows spanned by cell --
  colspan     NUMBER         1         -- number of cols spanned by cell --
  %cellhalign;                         -- horizontal alignment in cells --
  %cellvalign;                         -- vertical alignment in cells --
  >
