docs/xquiz-instance-1.0.0.dtd

<!-- This is the reference data for a quiz as used by xquiz. The official DTD is currently stored at https://www.astronaos.com/xquiz-instance-1.0.0.dtd -->
<!-- version history -->
<!-- 1.0: first version-->
<!-- DTD version 1.0 -->

<!ENTITY % quiz SYSTEM "https://www.astronaos.com/xquiz-2.0.0.dtd">
%quiz; <!-- import xquiz bank -->

<!ELEMENT quizinstance (formvalue|varvalue|qiref)>
<!ELEMENT formvalue EMPTY > <!-- place for form code to appear -->


<!ATTLIST questionblock
	scramble %boolean; "true"
>

<!ATTLIST questions
	scramble %boolean; "true"
>

<!ATTLIST qref
	id ID #REQUIRED
	ref CDATA #REQUIRED
>
<!ATTLIST bankref
	src CDATA #REQUIRED
>

<!ATTLIST date
	day CDATA #REQUIRED
	month CDATA #REQUIRED
	year CDATA #REQUIRED
>
