docs/xquiz-2.0.0.dtd

<!-- This is the reference data for a quiz as used by xquiz. The official DTD is currently stored at https://www.astronaos.com/xquiz-2.0.0.dtd -->
<!-- version history -->
<!-- 1.0: first version-->
<!-- 1.1: added "conjunction" attribute to choicesome-->
<!-- 1.2: added datealt, br, vspace, form, and ref elements; update URL to astronaos.com -->
<!-- 2.0: added remove all non-quiz specific tags and import bank  -->
<!-- DTD version 2.0 -->

<!ENTITY % bank SYSTEM "https://github.com/astrobit/xquiz/blob/master/docs/xquiz-bank-2.0.0.dtd?raw=true">
%bank; <!-- import xquiz bank -->

<!ELEMENT bankref EMPTY >
<!ELEMENT activity (bank?, bankref?, title, date, instructions, (questions? | questionblock?))>
<!ELEMENT date EMPTY>
<!ELEMENT formref EMPTY > <!-- place for form code to appear -->
<!ELEMENT title (#PCDATA|br)*>
<!ELEMENT instructions (%quizinline;|fillin)*>

<!ELEMENT section (prompt?,(qref|qselect)*) >
<!ELEMENT questions (qref|qselect|section)+ >
<!ELEMENT qref EMPTY >
<!ELEMENT qselect EMPTY >

<!ATTLIST questions
	scramble %boolean; "true"
	scrambleanswers %boolean; "true"
>

<!ATTLIST qref
	id ID #REQUIRED
	ref CDATA #REQUIRED
>

<!ATTLIST qselect
	id ID #REQUIRED
	num CDATA "1"
	refs CDATA #REQUIRED
>

<!ATTLIST bankref
	src CDATA #REQUIRED
>

<!ATTLIST date
	day CDATA #REQUIRED
	month CDATA #REQUIRED
	year CDATA #REQUIRED
>
