docs/xquiz-2.0.0.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xq="https://github.com/astrobit/xquiz"
			targetNamespace="https://github.com/astrobit/xquiz">

<xs:include schemaLocation="https://github.com/astrobit/xquiz/blob/master/docs/xquiz-html-1.0.0.xsd?raw=true"/>
<xs:include schemaLocation="https://github.com/astrobit/xquiz/blob/master/docs/xquiz-bank-2.0.0.xsd?raw=true"/>

<xs:element name="date">
	<xs:complexType>
		<xs:attribute name="day" type="xs:interger" use="required"/>
		<xs:attribute name="month" type="xs:interger" use="required"/>
		<xs:attribute name="year" type="xs:interger" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="bankref">
	<xs:complexType>
		<xs:attribute name="src" type="xs:string" use="required"/>
	</xs:complexType>
</xs:element>

<xs:simpleType name="idrefslistType">
	<xs:list itemType="xs:IDREF"/>
</xs:simpleType>

<xs:element name="header" type="inlineType"/>

<xs:element name="qselect">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="num" type="xs:integer" use="optional" default="1"/>
		<xs:attribute name="refs" type="idrefslistType" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="qref">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="ref" type="xs:IDREF" use="required"/>
	</xs:complexType>
</xs:element>

<xs:group name="questionGroup">
	<xs:choice minOccurs="1" maxOccurs="unbounded">
		<xs:element ref="header"/>
		<xs:element ref="section"/>
		<xs:element ref="qref"/>
		<xs:element ref="qselect"/>
	</xs:choice>
</xs:group>

<xs:element name="questions">
	<xs:complexType>
		<xs:attribute name="scramble" type="xs:boolean" use="optional" default="true"/>
		<xs:attribute name="scrambleanswers" type="xs:boolean" use="optional" default="true"/>
		<xs:sequence>
			<xs:group ref="questionGroup"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="section">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:sequence>
			<xs:group ref="questionGroup"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

<xs:element name="formref">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="instructions">
	<xs:extension base="inlineType">
		<xs:element ref="formref" minOccurs="0" maxOccurs="unbounded"/>
	</xs:extension>
</xs:element>


<xs:element name="title">
	<xs:complexType mixed="true">
		<xs:sqeuence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="formref"/>
		</xs:sqeuence>
	</xs:complexType>
</xs:element>

<xs:element name="activity">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:elment ref="bank"/>
				<xs:element ref="bankref"/>
			</xs:choice>
			<xs:element ref="title" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="date" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="instructions" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="questions" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>

