docs/xquiz-bank-2.0.0.dtd

<!-- This is the reference data for a question bank as used by xquiz. The 
official DTD is currently stored at 
https://github.com/astrobit/xquiz/blob/master/docs/xquiz-bank-2.0.0.dtd -->
<!-- DTD version 2.0 -->
<!-- version history -->
<!-- 1.0: first version-->
<!-- 1.1: added "conjunction" attribute to choicesome-->
<!-- 1.2: added vspace, label, ref, and fillin elements; update URL to 
astronaos.com -->
<!-- 2.0: removed vspace, label, and ref elements; add constant, variable, 
equation, calculated, numref, caption, subfigure, ref, hint, feedback, 
questiongroup -->

<!ENTITY % html SYSTEM "https://github.com/astrobit/xquiz/blob/master/docs/xquiz-html-1.0.0.dtd?raw=true">
%html; <!-- import pseudo-html -->

<!ENTITY % quizinline "#PCDATA | %fontstyle; | %phrase; | %special; | blockquote | %list | hr | table | ref | numref | varref | equation | vspace | hspace | latex">
<!ENTITY mps "<equation>\frac{\mathrm{m}}{\mathrm{s}}</equation>">
<!ENTITY mpss "<equation>\frac{\mathrm{m}}{\mathrm{s}^2}</equation>">

<!ELEMENT bank ((variantset|constant)*,(question|group)+) >

<!ELEMENT author (#PCDATA | A)*>
<!ELEMENT license (#PCDATA | A)*>
<!ELEMENT latex (CDATA)>
<!ELEMENT variantset (variant*)>
<!ELEMENT variant (%quizinline;)*>
<!ELEMENT variantref EMPTY -- a reference to a variantset-- >
<!ELEMENT constant EMPTY> <!-- a constant value -->
<!ELEMENT variable EMPTY> <!-- information about a variable quantity -->
<!ELEMENT equation #PCDATA> <!-- an equation to be typeset using Mathjax/latex-->
<!ELEMENT calculated (#PCDATA | numref)*> <!-- a mathematical expression using variables -->
<!ELEMENT numref EMPTY> <!-- a reference to a calculated -->
<!ELEMENT caption (%quizinline;)*> <!-- caption for images -->
<!ELEMENT subfigure (img,caption?)> <!-- an image, and an optional caption-->
<!ELEMENT figure ((subfigure*|img),caption?)> <!-- subfigures or and image, and an optional caption-->
<!ELEMENT ref EMPTY> <!-- a reference to a question, answer, figure, subfigure, or equation -->
<!ELEMENT fillin EMPTY> <!-- inserts a space for a word to be filled in -->
<!ELEMENT hint (%quizinline;)*>
<!ELEMENT feedback (%quizinline;)*>
<!ELEMENT group (question|group)*>
<!ELEMENT instructornote (%quizinline;)*>
<!ELEMENT question (author*, license, variable* ,calculation*, instructornote, prompt, hint, part*, catergories?, choices?, solution?, note?)>
<!ELEMENT part (prompt, hint, part*, catergories?, choices?, solution?, note?)>
<!ELEMENT prompt (%quizinline; | figure)*>
<!ELEMENT catergories (category*) >
<!ELEMENT catergory (choice*) >
<!ELEMENT choices (choice+ , choiceall? , choicesome*, choicenone?)>
<!ELEMENT choice (%quizinline;|feedback)*>
<!ELEMENT choicenone EMPTY>
<!ELEMENT choiceall EMPTY>
<!ELEMENT choicesome EMPTY>
<!ELEMENT solution (%quizinline;)* )
<!ELEMENT note (%quizinline;)*>

<!ENTITY % boolean "(true | false)">
<!ATTLIST bank
	id		CDATA #REQUIRED>

<!ATTLIST variantset
	id		CDATA #REQUIRED>

<!ATTLIST variant
	id		CDATA #IMPLIED>

<!ATTLIST variantref
	id		CDATA #IMPLIED
	idref	CDATA #REQUIRED
>

<!ATTLIST latex
	id		CDATA #IMPLIED
>

<!ATTLIST figure
	titled %boolean "false"
>

<!ATTLIST constant
	id ID #REQUIRED
	value CDATA #REQUIRED
	units CDATA #IMPLIED
>

<!ATTLIST equation
	id ID #IMPLIED
> <!-- allow implied ID for simple equations that don't need a reference, like units-->

<!ATTLIST variable
	id ID #REQUIRED
	max CDATA #REQUIRED
	min CDATA #REQUIRED
	roundto CDATA "1"
	stdev CDATA #IMPLIED
	distribution (tophat|gaussian) "tophat"
	requirescientific %boolean "false"
	units CDATA #IMPLIED
>
<!ATTLIST calculated
	id ID #REQUIRED
	units CDATA #IMPLIED
>

<!ATTLIST numref
	idref CDATA #REQUIRED
	showunits %boolean; "false"
>

<!ATTLIST question
	id	ID	#REQUIRED -- identifier for referening the question. ID must be unique -- 
	keys CDATA #IMPLIED -- comma separated list of keys or tags for the type of problem --
	difficulty CDATA #IMPLIED -- estimated difficulty of the problem --
	timerequired CDATA #IMPLIED -- estimated time to work on the problem --  
>

<!ATTLIST part
	id	ID #REQUIRED
	numeric %boolean "false"
	analytic %boolean "false"
	essay %boolean "false"
	ranking %boolean "false"
	categories %boolean "false"
	equation %boolean "false"
	multiplechoice %boolean "false"
	multipleanswer %boolean "false"
	weight CDATA #IMPLIED
>


<!ATTLIST choices
	scramble %boolean; "false"
	layout (horizontal | vertical) "vertical"
>
<!ATTLIST choice
	id	CDATA #REQUIRED
	scramble %boolean; "true"
	correct %boolean; "false"
	rank CDATA #IMPLIED -- rank is used only for ranking type questions--
	weight CDATA #IMPLIED
> 

	
<!ATTLIST choicenone
	id	ID #REQUIRED
	correct %boolean; "false"
>
	
<!ATTLIST choiceall
	id	ID #REQUIRED
	correct %boolean; "false"
>

<!ATTLIST choicesome
	id	ID #REQUIRED
	correct %boolean; "false"
	refs CDATA #REQUIRED
	conjunction (and | or | andor) "and"
>	

<!ATTLIST vspace
	size CDATA #REQUIRED
>

<!ATTLIST ref
	id CDATAS #REQUIRED
>