docs/xquiz-html-1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE schema [

<!--================ Character mnemonic entities =========================-->

<!ENTITY nbsp   "&#160;"> <!-- no-break space = non-breaking space,
                                  U+00A0 ISOnum -->
<!ENTITY iexcl  "&#161;"> <!-- inverted exclamation mark, U+00A1 ISOnum -->
<!ENTITY cent   "&#162;"> <!-- cent sign, U+00A2 ISOnum -->
<!ENTITY pound  "&#163;"> <!-- pound sign, U+00A3 ISOnum -->
<!ENTITY curren "&#164;"> <!-- currency sign, U+00A4 ISOnum -->
<!ENTITY yen    "&#165;"> <!-- yen sign = yuan sign, U+00A5 ISOnum -->
<!ENTITY brvbar "&#166;"> <!-- broken bar = broken vertical bar,
                                  U+00A6 ISOnum -->
<!ENTITY sect   "&#167;"> <!-- section sign, U+00A7 ISOnum -->
<!ENTITY uml    "&#168;"> <!-- diaeresis = spacing diaeresis,
                                  U+00A8 ISOdia -->
<!ENTITY copy   "&#169;"> <!-- copyright sign, U+00A9 ISOnum -->
<!ENTITY ordf   "&#170;"> <!-- feminine ordinal indicator, U+00AA ISOnum -->
<!ENTITY laquo  "&#171;"> <!-- left-pointing double angle quotation mark
                                  = left pointing guillemet, U+00AB ISOnum -->
<!ENTITY not    "&#172;"> <!-- not sign = angled dash,
                                  U+00AC ISOnum -->
<!ENTITY shy    "&#173;"> <!-- soft hyphen = discretionary hyphen,
                                  U+00AD ISOnum -->
<!ENTITY reg    "&#174;"> <!-- registered sign = registered trade mark sign,
                                  U+00AE ISOnum -->
<!ENTITY macr   "&#175;"> <!-- macron = spacing macron = overline
                                  = APL overbar, U+00AF ISOdia -->
<!ENTITY deg    "&#176;"> <!-- degree sign, U+00B0 ISOnum -->
<!ENTITY plusmn "&#177;"> <!-- plus-minus sign = plus-or-minus sign,
                                  U+00B1 ISOnum -->
<!ENTITY sup2   "&#178;"> <!-- superscript two = superscript digit two
                                  = squared, U+00B2 ISOnum -->
<!ENTITY sup3   "&#179;"> <!-- superscript three = superscript digit three
                                  = cubed, U+00B3 ISOnum -->
<!ENTITY acute  "&#180;"> <!-- acute accent = spacing acute,
                                  U+00B4 ISOdia -->
<!ENTITY micro  "&#181;"> <!-- micro sign, U+00B5 ISOnum -->
<!ENTITY para   "&#182;"> <!-- pilcrow sign = paragraph sign,
                                  U+00B6 ISOnum -->
<!ENTITY middot "&#183;"> <!-- middle dot = Georgian comma
                                  = Greek middle dot, U+00B7 ISOnum -->
<!ENTITY cedil  "&#184;"> <!-- cedilla = spacing cedilla, U+00B8 ISOdia -->
<!ENTITY sup1   "&#185;"> <!-- superscript one = superscript digit one,
                                  U+00B9 ISOnum -->
<!ENTITY ordm   "&#186;"> <!-- masculine ordinal indicator,
                                  U+00BA ISOnum -->
<!ENTITY raquo  "&#187;"> <!-- right-pointing double angle quotation mark
                                  = right pointing guillemet, U+00BB ISOnum -->
<!ENTITY frac14 "&#188;"> <!-- vulgar fraction one quarter
                                  = fraction one quarter, U+00BC ISOnum -->
<!ENTITY frac12 "&#189;"> <!-- vulgar fraction one half
                                  = fraction one half, U+00BD ISOnum -->
<!ENTITY frac34 "&#190;"> <!-- vulgar fraction three quarters
                                  = fraction three quarters, U+00BE ISOnum -->
<!ENTITY iquest "&#191;"> <!-- inverted question mark
                                  = turned question mark, U+00BF ISOnum -->
<!ENTITY Agrave "&#192;"> <!-- latin capital letter A with grave
                                  = latin capital letter A grave,
                                  U+00C0 ISOlat1 -->
<!ENTITY Aacute "&#193;"> <!-- latin capital letter A with acute,
                                  U+00C1 ISOlat1 -->
<!ENTITY Acirc  "&#194;"> <!-- latin capital letter A with circumflex,
                                  U+00C2 ISOlat1 -->
<!ENTITY Atilde "&#195;"> <!-- latin capital letter A with tilde,
                                  U+00C3 ISOlat1 -->
<!ENTITY Auml   "&#196;"> <!-- latin capital letter A with diaeresis,
                                  U+00C4 ISOlat1 -->
<!ENTITY Aring  "&#197;"> <!-- latin capital letter A with ring above
                                  = latin capital letter A ring,
                                  U+00C5 ISOlat1 -->
<!ENTITY AElig  "&#198;"> <!-- latin capital letter AE
                                  = latin capital ligature AE,
                                  U+00C6 ISOlat1 -->
<!ENTITY Ccedil "&#199;"> <!-- latin capital letter C with cedilla,
                                  U+00C7 ISOlat1 -->
<!ENTITY Egrave "&#200;"> <!-- latin capital letter E with grave,
                                  U+00C8 ISOlat1 -->
<!ENTITY Eacute "&#201;"> <!-- latin capital letter E with acute,
                                  U+00C9 ISOlat1 -->
<!ENTITY Ecirc  "&#202;"> <!-- latin capital letter E with circumflex,
                                  U+00CA ISOlat1 -->
<!ENTITY Euml   "&#203;"> <!-- latin capital letter E with diaeresis,
                                  U+00CB ISOlat1 -->
<!ENTITY Igrave "&#204;"> <!-- latin capital letter I with grave,
                                  U+00CC ISOlat1 -->
<!ENTITY Iacute "&#205;"> <!-- latin capital letter I with acute,
                                  U+00CD ISOlat1 -->
<!ENTITY Icirc  "&#206;"> <!-- latin capital letter I with circumflex,
                                  U+00CE ISOlat1 -->
<!ENTITY Iuml   "&#207;"> <!-- latin capital letter I with diaeresis,
                                  U+00CF ISOlat1 -->
<!ENTITY ETH    "&#208;"> <!-- latin capital letter ETH, U+00D0 ISOlat1 -->
<!ENTITY Ntilde "&#209;"> <!-- latin capital letter N with tilde,
                                  U+00D1 ISOlat1 -->
<!ENTITY Ograve "&#210;"> <!-- latin capital letter O with grave,
                                  U+00D2 ISOlat1 -->
<!ENTITY Oacute "&#211;"> <!-- latin capital letter O with acute,
                                  U+00D3 ISOlat1 -->
<!ENTITY Ocirc  "&#212;"> <!-- latin capital letter O with circumflex,
                                  U+00D4 ISOlat1 -->
<!ENTITY Otilde "&#213;"> <!-- latin capital letter O with tilde,
                                  U+00D5 ISOlat1 -->
<!ENTITY Ouml   "&#214;"> <!-- latin capital letter O with diaeresis,
                                  U+00D6 ISOlat1 -->
<!ENTITY times  "&#215;"> <!-- multiplication sign, U+00D7 ISOnum -->
<!ENTITY Oslash "&#216;"> <!-- latin capital letter O with stroke
                                  = latin capital letter O slash,
                                  U+00D8 ISOlat1 -->
<!ENTITY Ugrave "&#217;"> <!-- latin capital letter U with grave,
                                  U+00D9 ISOlat1 -->
<!ENTITY Uacute "&#218;"> <!-- latin capital letter U with acute,
                                  U+00DA ISOlat1 -->
<!ENTITY Ucirc  "&#219;"> <!-- latin capital letter U with circumflex,
                                  U+00DB ISOlat1 -->
<!ENTITY Uuml   "&#220;"> <!-- latin capital letter U with diaeresis,
                                  U+00DC ISOlat1 -->
<!ENTITY Yacute "&#221;"> <!-- latin capital letter Y with acute,
                                  U+00DD ISOlat1 -->
<!ENTITY THORN  "&#222;"> <!-- latin capital letter THORN,
                                  U+00DE ISOlat1 -->
<!ENTITY szlig  "&#223;"> <!-- latin small letter sharp s = ess-zed,
                                  U+00DF ISOlat1 -->
<!ENTITY agrave "&#224;"> <!-- latin small letter a with grave
                                  = latin small letter a grave,
                                  U+00E0 ISOlat1 -->
<!ENTITY aacute "&#225;"> <!-- latin small letter a with acute,
                                  U+00E1 ISOlat1 -->
<!ENTITY acirc  "&#226;"> <!-- latin small letter a with circumflex,
                                  U+00E2 ISOlat1 -->
<!ENTITY atilde "&#227;"> <!-- latin small letter a with tilde,
                                  U+00E3 ISOlat1 -->
<!ENTITY auml   "&#228;"> <!-- latin small letter a with diaeresis,
                                  U+00E4 ISOlat1 -->
<!ENTITY aring  "&#229;"> <!-- latin small letter a with ring above
                                  = latin small letter a ring,
                                  U+00E5 ISOlat1 -->
<!ENTITY aelig  "&#230;"> <!-- latin small letter ae
                                  = latin small ligature ae, U+00E6 ISOlat1 -->
<!ENTITY ccedil "&#231;"> <!-- latin small letter c with cedilla,
                                  U+00E7 ISOlat1 -->
<!ENTITY egrave "&#232;"> <!-- latin small letter e with grave,
                                  U+00E8 ISOlat1 -->
<!ENTITY eacute "&#233;"> <!-- latin small letter e with acute,
                                  U+00E9 ISOlat1 -->
<!ENTITY ecirc  "&#234;"> <!-- latin small letter e with circumflex,
                                  U+00EA ISOlat1 -->
<!ENTITY euml   "&#235;"> <!-- latin small letter e with diaeresis,
                                  U+00EB ISOlat1 -->
<!ENTITY igrave "&#236;"> <!-- latin small letter i with grave,
                                  U+00EC ISOlat1 -->
<!ENTITY iacute "&#237;"> <!-- latin small letter i with acute,
                                  U+00ED ISOlat1 -->
<!ENTITY icirc  "&#238;"> <!-- latin small letter i with circumflex,
                                  U+00EE ISOlat1 -->
<!ENTITY iuml   "&#239;"> <!-- latin small letter i with diaeresis,
                                  U+00EF ISOlat1 -->
<!ENTITY eth    "&#240;"> <!-- latin small letter eth, U+00F0 ISOlat1 -->
<!ENTITY ntilde "&#241;"> <!-- latin small letter n with tilde,
                                  U+00F1 ISOlat1 -->
<!ENTITY ograve "&#242;"> <!-- latin small letter o with grave,
                                  U+00F2 ISOlat1 -->
<!ENTITY oacute "&#243;"> <!-- latin small letter o with acute,
                                  U+00F3 ISOlat1 -->
<!ENTITY ocirc  "&#244;"> <!-- latin small letter o with circumflex,
                                  U+00F4 ISOlat1 -->
<!ENTITY otilde "&#245;"> <!-- latin small letter o with tilde,
                                  U+00F5 ISOlat1 -->
<!ENTITY ouml   "&#246;"> <!-- latin small letter o with diaeresis,
                                  U+00F6 ISOlat1 -->
<!ENTITY divide "&#247;"> <!-- division sign, U+00F7 ISOnum -->
<!ENTITY oslash "&#248;"> <!-- latin small letter o with stroke,
                                  = latin small letter o slash,
                                  U+00F8 ISOlat1 -->
<!ENTITY ugrave "&#249;"> <!-- latin small letter u with grave,
                                  U+00F9 ISOlat1 -->
<!ENTITY uacute "&#250;"> <!-- latin small letter u with acute,
                                  U+00FA ISOlat1 -->
<!ENTITY ucirc  "&#251;"> <!-- latin small letter u with circumflex,
                                  U+00FB ISOlat1 -->
<!ENTITY uuml   "&#252;"> <!-- latin small letter u with diaeresis,
                                  U+00FC ISOlat1 -->
<!ENTITY yacute "&#253;"> <!-- latin small letter y with acute,
                                  U+00FD ISOlat1 -->
<!ENTITY thorn  "&#254;"> <!-- latin small letter thorn,
                                  U+00FE ISOlat1 -->
<!ENTITY yuml   "&#255;"> <!-- latin small letter y with diaeresis,
                                  U+00FF ISOlat1 -->
<!--=================== Symbols===========================================-->

<!-- Mathematical and Symbolic characters for HTML -->
<!-- new names do not clash with any existing ISO 8879 entity names -->

<!-- Assorted technical symbols, names taken from ISOtech except as noted -->

<!ENTITY prime    "&#8242;" ><!-- prime, =minutes, =feet, U2032 -->
<!ENTITY oline    "&#8254;" ><!-- overline, =spacing overscore, U203E !ISOtech -->
<!ENTITY fsla     "&#8260;" ><!-- fraction slash, U2044 !ISOtech -->
<!ENTITY forall   "&#8704;" ><!-- for all, U2200 -->
<!ENTITY exist    "&#8707;" ><!-- there exists, U2203-->
<!ENTITY ni       "&#8715;" ><!-- contains as member, U220B -->
<!ENTITY minus    "&#8722;" ><!-- minus sign, U2212 -->
<!ENTITY lowast   "&#8727;" ><!-- asterisk operator, U2217 -->
<!ENTITY infin    "&#8734;" ><!-- infinity, U221E -->

<!ENTITY there4   "&#8756;" ><!-- therefore, U2234  -->

<!ENTITY le       "&#8804;" ><!-- less-than-or-equal, U2264  -->



<!ENTITY perp     "&#8869;" ><!-- up tack, =orthogonal to, =perpendicular U22A5 -->

<!ENTITY cong     "&#8773;" ><!-- approximately equal to, U2245  -->

<!ENTITY perp     "&#8869;" ><!-- up tack =perpendicular, U22A5 -->

<!-- Modern Greek upper and lowercase letters -->
<!-- names taken from ISOgrk1 -->
<!-- would it be beter to extend the (incomplete list of) names in 
     ISOgrk3 ie Alpha, beta, etc -->

<!ENTITY agr    "&#945;" ><!-- small alpha, Greek, U03B1 -->
<!ENTITY Agr    "&#913;" ><!-- capital Alpha, Greek, U0391 -->
<!ENTITY bgr    "&#946;" ><!-- small beta, Greek, U03B2 -->
<!ENTITY Bgr    "&#914;" ><!-- capital Beta, Greek, U0392 -->
<!ENTITY ggr    "&#947;" ><!-- small gamma, Greek, U03B3 -->
<!ENTITY Ggr    "&#915;" ><!-- capital Gamma, Greek, U0393 -->
<!ENTITY dgr    "&#948;" ><!-- small delta, Greek, U03B4 -->
<!ENTITY Dgr    "&#916;" ><!-- capital Delta, Greek, U0394 -->
<!ENTITY egr    "&#949;" ><!-- small epsilon, Greek, U03B5 -->
<!ENTITY Egr    "&#917;" ><!-- capital Epsilon, Greek, U0395 -->
<!ENTITY zgr    "&#950;" ><!-- small zeta, Greek, U03B6 -->
<!ENTITY Zgr    "&#918;" ><!-- capital Zeta, Greek, U0396 -->
<!ENTITY eegr   "&#951;" ><!-- small eta, Greek, U03B7 -->
<!ENTITY EEgr   "&#919;" ><!-- capital Eta, Greek, U0397 -->
<!ENTITY thgr   "&#952;" ><!-- small theta, Greek, U03B8 -->
<!ENTITY THgr   "&#920;" ><!-- capital Theta, Greek, U0398 -->
<!ENTITY igr    "&#953;" ><!-- small iota, Greek, U03B9 -->
<!ENTITY Igr    "&#921;" ><!-- capital Iota, Greek, U0399 -->
<!ENTITY kgr    "&#954;" ><!-- small kappa, Greek, U03BA -->
<!ENTITY Kgr    "&#922;" ><!-- capital Kappa, Greek, U039A -->
<!ENTITY lgr    "&#955;" ><!-- small lambda, Greek, U03BB -->
<!ENTITY Lgr    "&#923;" ><!-- capital Lambda, Greek, U039B -->
<!ENTITY mgr    "&#956;" ><!-- small mu, Greek, U03BC -->
<!ENTITY Mgr    "&#924;" ><!-- capital Mu, Greek, U039C -->
<!ENTITY ngr    "&#957;" ><!-- small nu, Greek, U03BD -->
<!ENTITY Ngr    "&#925;" ><!-- capital Nu, Greek, U039D -->
<!ENTITY xgr    "&#958;" ><!-- small xi, Greek, U03BE -->
<!ENTITY Xgr    "&#926;" ><!-- capital Xi, Greek, U039E -->
<!ENTITY ogr    "&#959;" ><!-- small omicron, Greek, U03BF -->
<!ENTITY Ogr    "&#927;" ><!-- capital Omicron, Greek, U039F -->
<!ENTITY pgr    "&#960;" ><!-- small pi, Greek, U03C0 -->
<!ENTITY Pgr    "&#928;" ><!-- capital Pi, Greek, U03A0 -->
<!ENTITY rgr    "&#961;" ><!-- small rho, Greek, U03C1 -->
<!ENTITY Rgr    "&#929;" ><!-- capital Rho, Greek, U03A1 -->
<!ENTITY sfgr   "&#962;" ><!-- final small sigma, Greek, U03C2 -->
<!-- (there is no Sfgr, and no U03A2 character either) -->
<!ENTITY sgr    "&#963;" ><!-- small sigma, Greek, U03C3 -->
<!ENTITY Sgr    "&#931;" ><!-- capital Sigma, Greek, U03A3 -->
<!ENTITY tgr    "&#964;" ><!-- small tau, Greek, U03C4 -->
<!ENTITY Tgr    "&#932;" ><!-- capital Tau, Greek, U03A4 -->
<!ENTITY ugr    "&#965;" ><!-- small upsilon, Greek, U03C5 -->
<!ENTITY Ugr    "&#933;" ><!-- capital Upsilon, Greek, U03A5 -->
<!ENTITY phgr   "&#966;" ><!-- small phi, Greek, U03C6 -->
<!ENTITY PHgr   "&#934;" ><!-- capital Phi, Greek, U03A6 -->
<!ENTITY khgr   "&#967;" ><!-- small chi, Greek, U03C7 -->
<!ENTITY KHgr   "&#935;" ><!-- capital Chi, Greek, U03A7 -->
<!ENTITY psgr   "&#968;" ><!-- small psi, Greek, U03C8 -->
<!ENTITY PSgr   "&#936;" ><!-- capital Psi, Greek, U03A8 -->
<!ENTITY ohgr   "&#969;" ><!-- small omega, Greek, U03C9 -->
<!ENTITY OHgr   "&#937;" ><!-- capital Omega, Greek, U03A9 -->

<!-- variants from ISOgrk3, not clear these are the right names -->
<!ENTITY thetav "&#977;" ><!-- small theta symbol, Greek, U03D1 -->
<!ENTITY piv    "&#982;" ><!-- small omega pi, Greek, U03D6 -->

<!-- new entity, not in ISOgrk 1-4 -->
<!ENTITY Uhgr   "&#978;" ><!-- capital Upsilon hook, Greek, U03D2 -->

<!--=================== Special entities ===============================-->


<!-- Language-dependent BIDI and contextual analysis     -->

<!ENTITY zwnj   "&#8204;" ><!-- zero width non-joiner -->
<!ENTITY zwj    "&#8205;" ><!-- zero width joiner     -->
<!ENTITY lrm    "&#8206;" ><!-- left-to-right mark    -->
<!ENTITY rlm    "&#8207;" ><!-- right-to-left mark    -->

]>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="ContentType">
<!-- media type, as per [RFC2045]-->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="ContentTypes">
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Charset">
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Charsets">
<!-- a space-separated list of character encodings, as per [RFC2045]-->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="LanguageCode">
<!-- a language code, as per [RFC1766]-->
	<xs:restriction base="xs:language"/>
</xs:simpleType>

<xs:simpleType name="Character">
    <!-- a single character from [ISO10646] 
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="LinkTypes">
    <!-- space-separated list of link types
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="MediaDesc">
    <!-- single or comma-separated list of media descriptors
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="URI">
    <!-- a Uniform Resource Identifier,
       see [URI]
    -->
	<xs:restriction base="xs:anyURI"/>
</xs:simpleType>

<xs:simpleType name="Datetime">
<!-- date and time information. ISO date format -->
	<xs:restriction base="xs:dateTime"/>
</xs:simpleType>

<xs:simpleType name="Script">
<!-- script expression -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="StyleSheet">
<!-- style sheet data -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Text">
	<xs:restriction base="xs:string"/>
</xs:simpleType>


<xs:simpleType name="Shape">
	<xs:restriction base="xs:string">
		<xs:enumeration value="rect"/>
		<xs:enumeration value="circle"/>
		<xs:enumeration value="poly"/>
		<xs:enumeration value="default"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="Coords">
	<xs:list base="xs:decimal"/>
</xs:simpleType>

<xs:simpleType name="Length">
	<xs:list base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="MultiLength">
	<xs:list base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Pixels">
	<xs:list base="xs:integer"/>
</xs:simpleType>

<xs:simpleType name="TFrame">
	<xs:restriction base="xs:string">
		<xs:enumeration value="void"/>
		<xs:enumeration value="above"/>
		<xs:enumeration value="below"/>
		<xs:enumeration value="hsides"/>
		<xs:enumeration value="lhs"/>
		<xs:enumeration value="rhs"/>
		<xs:enumeration value="vsides"/>
		<xs:enumeration value="box"/>
		<xs:enumeration value="border"/>
	</xs:restriction>
</xs:simpleType>

<!--
 The RULES attribute defines which rules to draw between cells:

 If RULES is absent then assume:
     "none" if BORDER is absent or BORDER=0 otherwise "all"
-->
<xs:simpleType name="TFrame">
	<xs:restriction base="xs:string">
		<xs:enumeration value="none"/>
		<xs:enumeration value="groups"/>
		<xs:enumeration value="rows"/>
		<xs:enumeration value="cols"/>
		<xs:enumeration value="all"/>
	</xs:restriction>
</xs:simpleType>
  
<!-- horizontal placement of table relative to document -->
<xs:simpleType name="TAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="left"/>
		<xs:enumeration value="center"/>
		<xs:enumeration value="right"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="THAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="left"/>
		<xs:enumeration value="center"/>
		<xs:enumeration value="right"/>
		<xs:enumeration value="justify"/>
		<xs:enumeration value="char"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="TVAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="middle"/>
		<xs:enumeration value="bottom"/>
		<xs:enumeration value="baseline"/>
	</xs:restriction>
</xs:simpleType>

<!-- Scope is simpler than headers attribute for common tables -->

<xs:simpleType name="Scope">
	<xs:restriction base="xs:string">
		<xs:enumeration value="row"/>
		<xs:enumeration value="col"/>
		<xs:enumeration value="rowgroup"/>
		<xs:enumeration value="colgroup"/>
	</xs:restriction>
</xs:simpleType>

<!--=================== Generic Attributes ===============================-->

<xs:attributeGroup name="coreattrs">
	<xs:attribute name="id" type="xs:ID"/>
	<xs:attribute name="class" type="xs:string"/>
	<xs:attribute name="style" type="StyleSheet"/>
	<xs:attribute name="title" type="Text"/>
</xs:attributeGroup>

<xs:attributeGroup name="i18n">
	<xs:attribute name="lang" type="LanguageCode"/>
	<xs:attribute name="dir" type="xs:string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ltr"/>
      <xs:enumeration value="rtl"/>
     </xs:restriction>
    </xs:attribute>
</xs:attributeGroup>

<xs:attributeGroup name="attrs">
	<xs:attributeGroup ref="coreattrs"/>
	<xs:attributeGroup ref="i18n"/>
</xs:attributeGroup>

<!-- horizontal alignment attributes for cell contents -->
<xs:attributeGroup name="cellhalign">
	<xs:attribute name="align" type="THAlign"/>
	<xs:attribute name="char" type="Character"/>
	<xs:attribute name="charoff" type="Length"/>
</xs:attributeGroup>

<!-- vertical alignment attributes for cell contents -->
<xs:attributeGroup name="cellvalign">
	<xs:attribute name="valign" type="TVAlign"/>
</xs:attributeGroup>




<!--=================== Text Markup ======================================-->

<xs:group name="heading">
	<xs:sequence>
		<xs:element ref="h1"/>
		<xs:element ref="h2"/>
		<xs:element ref="h3"/>
	</xs:sequence>
</xs:group>

<xs:group name="list">
	<xs:sequence>
		<xs:element ref="ul"/>
		<xs:element ref="ol"/>
	</xs:sequence>
</xs:group>


<xs:group name="fontstyle.pre">
	<xs:choice>
		<xs:element ref="tt"/>
		<xs:element ref="i"/>
		<xs:element ref="b"/>
	</xs:choice>
</xs:group>

<xs:group name="fontstyle">
	<xs:choice>
		<xs:group ref="fontstyle"/>
		<xs:element ref="big"/>
		<xs:element ref="small"/>
	</xs:choice>
</xs:group>
	

<xs:group name="phrase">
	<xs:choice>
		<xs:element ref="em"/>
		<xs:element ref="strong"/>
		<xs:element ref="dfn"/>
		<xs:element ref="code"/>
		<xs:element ref="samp"/>
		<xs:element ref="var"/>
		<xs:element ref="cite"/>
		<xs:element ref="abbr"/>
		<xs:element ref="acronym"/>
	</xs:choice>
</xs:group>

<xs:group name="special.pre">
	<xs:choice>
		<xs:element ref="a"/>
		<xs:element ref="br"/>
		<xs:element ref="q"/>
		<xs:element ref="span"/>
		<xs:element ref="bdo"/>
	</xs:choice>
</xs:group>

<xs:group name="special">
	<xs:choice>
		<xs:group ref="special.pre"/>
		<xs:element ref="img"/>
		<xs:element ref="object"/>
		<xs:element ref="sub"/>
		<xs:element ref="sup"/>
	</xs:choice>
</xs:group>

<xs:group name="inline" mixed="true">
	<xs:choice>
		<xs:group ref="fontstyle"/>
		<xs:group ref="phrase"/>
		<xs:group ref="special"/>
	</xs:choice>
</xs:group>

<xs:group name="inline.pre" mixed="true">
	<xs:choice>
		<xs:group ref="fontstyle.pre"/>
		<xs:group ref="phrase"/>
		<xs:group ref="special.pre"/>
	</xs:choice>
</xs:group>


<xs:group name="block">
	<xs:choice>
		<xs:element ref="p"/>
		<xs:group ref="heading"/>
		<xs:group ref="list"/>
		<xs:element ref="pre"/>
		<xs:element ref="dl"/>
		<xs:element ref="div"/>
		<xs:element ref="blockquote"/>
		<xs:element ref="hr"/>
		<xs:element ref="table"/>
	</xs:choice>
</xs:group>

<xs:group name="flow">
	<xs:choice>
		<xs:group ref="block"/>
		<xs:group ref="inline"/>
	</xs:choice>
</xs:group>


<!--=================== Base Types ======================================-->
<xs:complexType name="inlineType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="inline"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<xs:complexType name="blockType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="block"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<xs:complexType name="flowType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="flow"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<!--=================== Table Section Type ======================================-->
<xs:complexType name="TgroupType">
	<xs:sequence maxOccurs="unbounded" minOccurs="0">
		<xs:element ref="tr"/>
	</xs:sequence>
	<xs:attributeGroup ref="attrs"/>
	<xs:attributeGroup ref="cellhalign"/>
	<xs:attributeGroup ref="cellvalign"/>
</xs:complexType>


<!--=================== Table Cell Type ======================================-->

<xs:complexType name="tdthType">
	<xs:extension base="flowType">
		<xs:attribute name="abbr" type="Text"/>
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="headers" type="xs:IDREFS"/>
		<xs:attribute name="scope" type="Scope"/>
		<xs:attribute name="rowspan" type="xs:integer"/>
		<xs:attribute name="colspan" type="xs:integer"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:extension>
</xs:complexType>

<!--=================Font Style==============================================-->
<xs:element name="tt" type="inlineType"/>
<xs:element name="i" type="inlineType"/>
<xs:element name="b" type="inlineType"/>
<xs:element name="big" type="inlineType"/>
<xs:element name="small" type="inlineType"/>

<!--=================Phrase==============================================-->
<xs:element name="em" type="inlineType"/>
<xs:element name="strong" type="inlineType"/>
<xs:element name="dfn" type="inlineType"/>
<xs:element name="code" type="inlineType"/>
<xs:element name="samp" type="inlineType"/>
<xs:element name="var" type="inlineType"/>
<xs:element name="cite" type="inlineType"/>
<xs:element name="abbr" type="inlineType"/>
<xs:element name="acronym" type="inlineType"/>

<xs:element name="sub" type="inlineType"/>
<xs:element name="sup" type="inlineType"/>

<xs:element name="span" type="inlineType"/>


<xs:element name="bdo" type="inlineType"/>

<xs:element name="p" type="inlineType"/>
<xs:element name="h1" type="inlineType"/>
<xs:element name="h2" type="inlineType"/>
<xs:element name="h3" type="inlineType"/>

<!--================== The Break Element ================================-->

<xs:element name="br">
	<xs:complexType>
		<xs:attributeGroup ref="coreattrs"/>
	</xs:complexType>
</xs:element>



<!--================== The Anchor Element ================================-->

<xs:element name="a">
	<xs:complexType>
		<xs:extension base="inlineType">
			<xs:attribute name="charset" type="Charset"/>
			<xs:attribute name="type" type="ContentType"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="href" type="URI"/>
			<xs:attribute name="hreflang" type="LanguageCode"/>
			<xs:attribute name="rel" type="LinkTypes"/>
			<xs:attribute name="rev" type="LinkTypes"/>
			<xs:attribute name="accesskey" type="Character"/>
			<xs:attribute name="tabindex" type="xs:interger"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Images ===========================================-->

<xs:element name="img">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="src" type="URI"/>
		<xs:attribute name="alt" type="Text"/>
		<xs:attribute name="longdesc" type="URI"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="height" type="Length"/>
		<xs:attribute name="width" type="Length"/>
		<xs:attribute name="scale" type="xs:decimal"/>
	</xs:complexType>
</xs:element>


<!--=================== Horizontal Rule ==================================-->

<xs:element name="hr">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>



<!--=================== Preformatted Text ================================-->
<xs:element name="pre">
	<xs:complexType mixed="true">
		<xs:choice>
			<xs:group ref="inline.pre"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<!--===================== Inline Quotes ==================================-->

<xs:element name="q">
	<xs:complexType>
		<xs:extension base="inlineType">
			<xs:attribute name="cite" type="URI"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Block-like Quotes ================================-->
<xs:element name="blockquote">
	<xs:complexType>
		<xs:extension base="blockType">
			<xs:attribute name="cite" type="URI"/>
		</xs:extension>
	</xs:complexType>
</xs:element>

<!--=================== Inserted/Deleted Text ============================-->

<xs:element name="ins">
	<xs:complexType>
		<xs:extension base="flowType">
			<xs:attribute name="cite" type="URI"/>
			<xs:attribute name="datetime" type="Datetime"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Lists ============================================-->

<xs:element name="dl">
	<xs:complexType>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="dt"/>
			<xs:element ref="dd"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<xs:element name="dt" type="inlineType"/>
<xs:element name="dd" type="flowType"/>

<xs:element name="ol">
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<xs:element name="li" type="flowType"/>

<xs:element name="ul">
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>


<!--======================= Tables =======================================-->

<!-- IETF HTML table standard, see [RFC1942] -->

<!--
 The BORDER attribute sets the thickness of the frame around the
 table. The default units are screen pixels.

 The FRAME attribute specifies which parts of the frame around
 the table should be rendered. The values are not the same as
 CALS to avoid a name clash with the VALIGN attribute.

 The value "border" is included for backwards compatibility with
 <TABLE BORDER> which yields frame=border and border=implied
 For <TABLE BORDER=1> you get border=1 and frame=implied. In this
 case, it is appropriate to treat this as frame=border for backwards
 compatibility with deployed browsers.
-->

<xs:element name="table">
	<xs:complexType>
		<xs:sequence>
			<xs:sequence minOccurs="0">
				<xs:element ref="caption"/>
			</xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="col"/>			
				<xs:element ref="colgroup"/>
			</xs:choice>			
			<xs:sequence minOccurs="0">
				<xs:element ref="thead"/>
				<xs:element ref="tfoot"/>
			</xs:sequence>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element ref="tbody"/>
			</xs:sequence>
		</xs:sequence>		
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="summary" type="Text"/>
		<xs:attribute name="width" type="Length"/>
		<xs:attribute name="border" type="Pixels"/>
		<xs:attribute name="frame" type="TFrame"/>
		<xs:attribute name="rules" type="TRules"/>
		<xs:attribute name="cellspacing" type="Length"/>
		<xs:attribute name="cellpadding" type="Length"/>
	</xs:complexType>
</xs:element>

<xs:element name="caption" type="inlineType"/>

<!--
COLGROUP groups a set of COL elements. It allows you to group
several semantically related columns together.
-->
<xs:element name="colgroup">
	<xs:complexType>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="col"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="span" type="xs:integer"/>
		<xs:attribute name="width" type="MultiLength"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>
		

<!--
 COL elements define the alignment properties for cells in
 one or more columns.

 The WIDTH attribute specifies the width of the columns, e.g.

     width=64        width in screen pixels
     width=0.5*      relative width of 0.5

 The SPAN attribute causes the attributes of one
 COL element to apply to more than one column.
-->
<xs:element name="col">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="span" type="xs:integer"/>
		<xs:attribute name="width" type="MultiLength"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>

<!--
    Use THEAD to duplicate headers when breaking table
    across page boundaries, or for static headers when
    TBODY sections are rendered in scrolling panel.

    Use TFOOT to duplicate footers when breaking table
    across page boundaries, or for static footers when
    TBODY sections are rendered in scrolling panel.

    Use multiple TBODY sections when rules are needed
    between groups of table rows.
-->
<xs:element name="thead" type="TgroupType"/>
<xs:element name="tfoot" type="TgroupType"/>
<xs:element name="tbody" type="TgroupType"/>


<xs:element name="tr">
	<xs:complexType>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="th"/>
			<xs:element ref="td"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>

<xs:element name="th" type="tdthType"/>
<xs:element name="td" type="tdthType"/>



</xs:schema>