docs/xquiz-instance-1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xq="https://github.com/astrobit/xquiz"
			xmlns:xqi="https://github.com/astrobit/xquiz-instance"
			targetNamespace="https://github.com/astrobit/xquiz-instance">

<!-- Philopshy: -->
<!-- xquiz instance is a cross between a bank and activity (quiz) -->
<!--  -->
<xs:annotation>
	<xs:documentation> Philosophy: xquiz instance is a cross between a bank and activity (quiz). it is intended as a self contained file, so all necessary components are included </xs:documentation>
</xs:annotation>

<xs:include schemaLocation="https://github.com/astrobit/xquiz/blob/master/docs/xquiz-bank-2.0.0.xsd?raw=true"/>

<xs:element name="variable">
	<xs:complexType>
		<xs:attribute name="ref" type="xs:IDREF"/>
		<xs:attribute name="value" type="xq:numeric"/>
		<xs:attribute name="units" type="xs:string"/>
	</xs:complexType>
</xs:element>


<xs:group name="questionConentsGroup">
	<xs:sequence>
		<xs:element ref="xq:instructornote" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:prompt" minOccurs="1" maxOccurs="1"/>
		<xs:element ref="xq:hint" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:part" minOccurs="0" maxOccurs="unbounded"/>
		<xs:element ref="xq:categories" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:choices" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:numericanswer" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:solution" minOccurs="0" maxOccurs="1"/>
		<xs:element ref="xq:note" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
</xs:group>

<xs:element name="question">
	<xs:complexType>
		<xs:sequence>
			<xs:choose minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="xq:constant"/>
				<xs:element ref="xqi:variable"/>
				<xs:element ref="xq:calculation"/>
			</xs:choose>
			<xs:group ref="xqi:questionConentsGroup"/>
		</xs:sequence>
		<xs:attribute name="ref" type="xs:IDREF" use="required"/>
		<xs:attribute name="weight" type="xq:smallPositiveNumeric"/>
		<xs:attribute name="title" type="xs:string"/>
	</xs:complexType>
</xs:element>


<xs:element name="part">
	<xs:complexType>
		<xs:sequence>
			<xs:group ref="xqi:questionConentsGroup"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID"  use="required"/>
		<xs:attribute name="weight" type="xq:smallPositiveNumeric" default="1"/>
	</xs:complexType>
</xs:element>

<xs:group name="questionGroup">
	<xs:choice minOccurs="1" maxOccurs="unbounded">
		<xs:element ref="header"/>
		<xs:element ref="section"/>
		<xs:element ref="question"/>
	</xs:choice>
</xs:group>


<xs:element name="section">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:sequence>
			<xs:group ref="xqi:questionGroup"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>



<xs:element name="activity">
	<xs:complexType>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="ref" type="xs:IDREF" use="required"/>
		<xs:attribute name="formcode" type="xs:string" use="optional"/>
		<xs:sequence>
			<xs:element ref="xq:bankref" minOccurs="1" maxOccurs="1"/>
			<xs:element ref="xq:constant" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="xq:title" minOccurs="0" maxOccurs="1" />
			<xs:element ref="xq:date" minOccurs="0" maxOccurs="1" />
			<xs:element ref="xq:instructions" minOccurs="0" maxOccurs="1" />
			<xs:group ref="xsi:questionGroup"/>
			<xs:element ref="xs:imagedict" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	<xs:complexType>
</xs:element>

</xs:schema>
