docs/xquiz-html-1.0.0.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:xq="https://github.com/astrobit/xquiz"
			targetNamespace="https://github.com/astrobit/xquiz">

<xs:simpleType name="ContentType">
<!-- media type, as per [RFC2045]-->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="ContentTypes">
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Charset">
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Charsets">
<!-- a space-separated list of character encodings, as per [RFC2045]-->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="LanguageCode">
<!-- a language code, as per [RFC1766]-->
	<xs:restriction base="xs:language"/>
</xs:simpleType>

<xs:simpleType name="Character">
    <!-- a single character from [ISO10646] 
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="LinkTypes">
    <!-- space-separated list of link types
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="MediaDesc">
    <!-- single or comma-separated list of media descriptors
    -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="URI">
    <!-- a Uniform Resource Identifier,
       see [URI]
    -->
	<xs:restriction base="xs:anyURI"/>
</xs:simpleType>

<xs:simpleType name="Datetime">
<!-- date and time information. ISO date format -->
	<xs:restriction base="xs:dateTime"/>
</xs:simpleType>

<xs:simpleType name="Script">
<!-- script expression -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="StyleSheet">
<!-- style sheet data -->
	<xs:restriction base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Text">
	<xs:restriction base="xs:string"/>
</xs:simpleType>


<xs:simpleType name="Shape">
	<xs:restriction base="xs:string">
		<xs:enumeration value="rect"/>
		<xs:enumeration value="circle"/>
		<xs:enumeration value="poly"/>
		<xs:enumeration value="default"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="Coords">
	<xs:list base="xs:decimal"/>
</xs:simpleType>

<xs:simpleType name="Length">
	<xs:list base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="MultiLength">
	<xs:list base="xs:string"/>
</xs:simpleType>

<xs:simpleType name="Pixels">
	<xs:list base="xs:integer"/>
</xs:simpleType>

<xs:simpleType name="TFrame">
	<xs:restriction base="xs:string">
		<xs:enumeration value="void"/>
		<xs:enumeration value="above"/>
		<xs:enumeration value="below"/>
		<xs:enumeration value="hsides"/>
		<xs:enumeration value="lhs"/>
		<xs:enumeration value="rhs"/>
		<xs:enumeration value="vsides"/>
		<xs:enumeration value="box"/>
		<xs:enumeration value="border"/>
	</xs:restriction>
</xs:simpleType>

<!--
 The RULES attribute defines which rules to draw between cells:

 If RULES is absent then assume:
     "none" if BORDER is absent or BORDER=0 otherwise "all"
-->
<xs:simpleType name="TFrame">
	<xs:restriction base="xs:string">
		<xs:enumeration value="none"/>
		<xs:enumeration value="groups"/>
		<xs:enumeration value="rows"/>
		<xs:enumeration value="cols"/>
		<xs:enumeration value="all"/>
	</xs:restriction>
</xs:simpleType>
  
<!-- horizontal placement of table relative to document -->
<xs:simpleType name="TAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="left"/>
		<xs:enumeration value="center"/>
		<xs:enumeration value="right"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="THAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="left"/>
		<xs:enumeration value="center"/>
		<xs:enumeration value="right"/>
		<xs:enumeration value="justify"/>
		<xs:enumeration value="char"/>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="TVAlign">
	<xs:restriction base="xs:string">
		<xs:enumeration value="middle"/>
		<xs:enumeration value="bottom"/>
		<xs:enumeration value="baseline"/>
	</xs:restriction>
</xs:simpleType>

<!-- Scope is simpler than headers attribute for common tables -->

<xs:simpleType name="Scope">
	<xs:restriction base="xs:string">
		<xs:enumeration value="row"/>
		<xs:enumeration value="col"/>
		<xs:enumeration value="rowgroup"/>
		<xs:enumeration value="colgroup"/>
	</xs:restriction>
</xs:simpleType>

<!-- valid image types allowed -->

<xs:simpleType name="imageTypes">
	<xs:restriction base="xs:string">
		<xs:enumeration value="png"/>
		<xs:enumeration value="PNG"/>
		<xs:enumeration value="jpg"/>
		<xs:enumeration value="JPG"/>
		<xs:enumeration value="pdf"/>
		<xs:enumeration value="PDF"/>
	</xs:restriction>
</xs:simpleType>

<!--=================== Generic Attributes ===============================-->

<xs:attributeGroup name="coreattrs">
	<xs:attribute name="id" type="xs:ID"/>
	<xs:attribute name="class" type="xs:string"/>
	<xs:attribute name="style" type="StyleSheet"/>
	<xs:attribute name="title" type="Text"/>
</xs:attributeGroup>

<xs:attributeGroup name="i18n">
	<xs:attribute name="lang" type="LanguageCode"/>
	<xs:attribute name="dir" type="xs:string">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ltr"/>
      <xs:enumeration value="rtl"/>
     </xs:restriction>
    </xs:attribute>
</xs:attributeGroup>

<xs:attributeGroup name="attrs">
	<xs:attributeGroup ref="coreattrs"/>
	<xs:attributeGroup ref="i18n"/>
</xs:attributeGroup>

<!-- horizontal alignment attributes for cell contents -->
<xs:attributeGroup name="cellhalign">
	<xs:attribute name="align" type="THAlign"/>
	<xs:attribute name="char" type="Character"/>
	<xs:attribute name="charoff" type="Length"/>
</xs:attributeGroup>

<!-- vertical alignment attributes for cell contents -->
<xs:attributeGroup name="cellvalign">
	<xs:attribute name="valign" type="TVAlign"/>
</xs:attributeGroup>




<!--=================== Text Markup ======================================-->

<xs:group name="heading">
	<xs:sequence>
		<xs:element ref="h1"/>
		<xs:element ref="h2"/>
		<xs:element ref="h3"/>
	</xs:sequence>
</xs:group>

<xs:group name="list">
	<xs:sequence>
		<xs:element ref="ul"/>
		<xs:element ref="ol"/>
	</xs:sequence>
</xs:group>


<xs:group name="fontstyle.pre">
	<xs:choice>
		<xs:element ref="tt"/>
		<xs:element ref="i"/>
		<xs:element ref="b"/>
	</xs:choice>
</xs:group>

<xs:group name="fontstyle">
	<xs:choice>
		<xs:group ref="fontstyle"/>
		<xs:element ref="big"/>
		<xs:element ref="small"/>
	</xs:choice>
</xs:group>
	

<xs:group name="phrase">
	<xs:choice>
		<xs:element ref="em"/>
		<xs:element ref="strong"/>
		<xs:element ref="dfn"/>
		<xs:element ref="code"/>
		<xs:element ref="samp"/>
		<xs:element ref="var"/>
		<xs:element ref="cite"/>
		<xs:element ref="abbr"/>
		<xs:element ref="acronym"/>
	</xs:choice>
</xs:group>

<xs:group name="special.pre">
	<xs:choice>
		<xs:element ref="a"/>
		<xs:element ref="br"/>
		<xs:element ref="pbr"/>
		<xs:element ref="q"/>
		<xs:element ref="span"/>
		<xs:element ref="bdo"/>
		<xs:element ref="hspace"/>
		<xs:element ref="vspace"/>
	</xs:choice>
</xs:group>

<xs:group name="special">
	<xs:choice>
		<xs:group ref="special.pre"/>
		<xs:element ref="imgref"/>
		<xs:element ref="object"/>
		<xs:element ref="sub"/>
		<xs:element ref="sup"/>
	</xs:choice>
</xs:group>

<xs:group name="inline" mixed="true">
	<xs:choice>
		<xs:group ref="fontstyle"/>
		<xs:group ref="phrase"/>
		<xs:group ref="special"/>
	</xs:choice>
</xs:group>

<xs:group name="inline.pre" mixed="true">
	<xs:choice>
		<xs:group ref="fontstyle.pre"/>
		<xs:group ref="phrase"/>
		<xs:group ref="special.pre"/>
	</xs:choice>
</xs:group>


<xs:group name="block">
	<xs:choice>
		<xs:element ref="p"/>
		<xs:group ref="heading"/>
		<xs:group ref="list"/>
		<xs:element ref="pre"/>
		<xs:element ref="dl"/>
		<xs:element ref="div"/>
		<xs:element ref="blockquote"/>
		<xs:element ref="hr"/>
		<xs:element ref="table"/>
	</xs:choice>
</xs:group>

<xs:group name="flow">
	<xs:choice>
		<xs:group ref="block"/>
		<xs:group ref="inline"/>
	</xs:choice>
</xs:group>


<!--=================== Base Types ======================================-->
<xs:complexType name="inlineType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="inline"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<xs:complexType name="blockType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="block"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<xs:complexType name="flowType" mixed="true">
	<xs:choice minOccurs="0" maxOccurs="unbounded">
		<xs:group ref="flow"/>
	</xs:choice>
	<xs:attributeGroup ref="attrs"/>
</xs:complexType>

<!--=================== Table Section Type ======================================-->
<xs:complexType name="TgroupType">
	<xs:sequence maxOccurs="unbounded" minOccurs="0">
		<xs:element ref="tr"/>
	</xs:sequence>
	<xs:attributeGroup ref="attrs"/>
	<xs:attributeGroup ref="cellhalign"/>
	<xs:attributeGroup ref="cellvalign"/>
</xs:complexType>


<!--=================== Table Cell Type ======================================-->

<xs:complexType name="tdthType">
	<xs:extension base="flowType">
		<xs:attribute name="abbr" type="Text"/>
		<xs:attribute name="axis" type="xs:string"/>
		<xs:attribute name="headers" type="xs:IDREFS"/>
		<xs:attribute name="scope" type="Scope"/>
		<xs:attribute name="rowspan" type="xs:integer"/>
		<xs:attribute name="colspan" type="xs:integer"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:extension>
</xs:complexType>

<!--=================Font Style==============================================-->
<xs:element name="tt" type="inlineType"/>
<xs:element name="i" type="inlineType"/>
<xs:element name="b" type="inlineType"/>
<xs:element name="big" type="inlineType"/>
<xs:element name="small" type="inlineType"/>

<!--=================Phrase==============================================-->
<xs:element name="em" type="inlineType"/>
<xs:element name="strong" type="inlineType"/>
<xs:element name="dfn" type="inlineType"/>
<xs:element name="code" type="inlineType"/>
<xs:element name="samp" type="inlineType"/>
<xs:element name="var" type="inlineType"/>
<xs:element name="cite" type="inlineType"/>
<xs:element name="abbr" type="inlineType"/>
<xs:element name="acronym" type="inlineType"/>

<xs:element name="sub" type="inlineType"/>
<xs:element name="sup" type="inlineType"/>

<xs:element name="span" type="inlineType"/>


<xs:element name="bdo" type="inlineType"/>

<xs:element name="p" type="inlineType"/>
<xs:element name="h1" type="inlineType"/>
<xs:element name="h2" type="inlineType"/>
<xs:element name="h3" type="inlineType"/>

<!--================== The Break Element ================================-->

<xs:element name="br">
	<xs:complexType>
		<xs:attributeGroup ref="coreattrs"/>
	</xs:complexType>
</xs:element>

<!--================== The Page Break Element ================================-->

<xs:element name="pbr">
	<xs:complexType>
		<xs:attributeGroup ref="coreattrs"/>
	</xs:complexType>
</xs:element>

<!--================== Special for xquiz ================================-->
<xs:element name="vspace">
	<xs:complexType>
		<xs:attribute name="size" type="xs:string" use="required"/>
	</xs:complexType>
</xs:element>

<xs:element name="hspace">
	<xs:complexType>
		<xs:attribute name="size" type="xs:string" use="required"/>
	</xs:complexType>
</xs:element>


<!--================== The Anchor Element ================================-->

<xs:element name="a">
	<xs:complexType>
		<xs:extension base="inlineType">
			<xs:attribute name="charset" type="Charset"/>
			<xs:attribute name="type" type="ContentType"/>
			<xs:attribute name="name" type="xs:string"/>
			<xs:attribute name="href" type="URI"/>
			<xs:attribute name="hreflang" type="LanguageCode"/>
			<xs:attribute name="rel" type="LinkTypes"/>
			<xs:attribute name="rev" type="LinkTypes"/>
			<xs:attribute name="accesskey" type="Character"/>
			<xs:attribute name="tabindex" type="xs:interger"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Images ===========================================-->

<xs:element name="imgref">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="height" type="Length" use="optional"/>
		<xs:attribute name="width" type="Length" use="optional"/>
		<xs:attribute name="scale" type="xs:decimal" use="optional"/>
		<xs:attribute name="alt" type="Text" use="optional"/>
		<xs:attribute name="longdesc" type="URI" use="optional"/>
	</xs:complexType>
</xs:element>

<!--=================== Image Dictionary and Image Contents ===========================================-->

<xs:element name="imagedict">
	<xs:complexType>
		<xs:sequence minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="image"/>
		</xs:sequence>
		<xs:attribute name="imagepath" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:element>

<xs:element name="image">
	<xs:complexType>
		<xs:extension base="xs:base64Binary">
			<xs:attribute name="id" type="xs:ID" use="required"/>
			<xs:attribute name="src" type="xs:string" use="required"/>
			<xs:attribute name="imagetype" type="imageTypes" use="required"/>
			<xs:attribute name="alt" type="Text" use="optional"/>
			<xs:attribute name="longdesc" type="URI" use="optional"/>
		</xs:extension>
	</xs:complexType>
</xs:element>

<!--=================== Horizontal Rule ==================================-->

<xs:element name="hr">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>



<!--=================== Preformatted Text ================================-->
<xs:element name="pre">
	<xs:complexType mixed="true">
		<xs:choice>
			<xs:group ref="inline.pre"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<!--===================== Inline Quotes ==================================-->

<xs:element name="q">
	<xs:complexType>
		<xs:extension base="inlineType">
			<xs:attribute name="cite" type="URI"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Block-like Quotes ================================-->
<xs:element name="blockquote">
	<xs:complexType>
		<xs:extension base="blockType">
			<xs:attribute name="cite" type="URI"/>
		</xs:extension>
	</xs:complexType>
</xs:element>

<!--=================== Inserted/Deleted Text ============================-->

<xs:element name="ins">
	<xs:complexType>
		<xs:extension base="flowType">
			<xs:attribute name="cite" type="URI"/>
			<xs:attribute name="datetime" type="Datetime"/>
		</xs:extension>
	</xs:complexType>
</xs:element>


<!--=================== Lists ============================================-->

<xs:element name="dl">
	<xs:complexType>
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="dt"/>
			<xs:element ref="dd"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<xs:element name="dt" type="inlineType"/>
<xs:element name="dd" type="flowType"/>

<xs:element name="ol">
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>

<xs:element name="li" type="flowType"/>

<xs:element name="ul">
	<xs:complexType>
		<xs:sequence maxOccurs="unbounded">
			<xs:element ref="li"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
	</xs:complexType>
</xs:element>


<!--======================= Tables =======================================-->

<!-- IETF HTML table standard, see [RFC1942] -->

<!--
 The BORDER attribute sets the thickness of the frame around the
 table. The default units are screen pixels.

 The FRAME attribute specifies which parts of the frame around
 the table should be rendered. The values are not the same as
 CALS to avoid a name clash with the VALIGN attribute.

 The value "border" is included for backwards compatibility with
 <TABLE BORDER> which yields frame=border and border=implied
 For <TABLE BORDER=1> you get border=1 and frame=implied. In this
 case, it is appropriate to treat this as frame=border for backwards
 compatibility with deployed browsers.
-->

<xs:element name="table">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="caption" minOccurs="0" maxOccurs="1"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="col"/>			
				<xs:element ref="colgroup"/>
			</xs:choice>			
			<xs:element ref="thead" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tfoot" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="tbody" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>		
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="summary" type="Text"/>
		<xs:attribute name="width" type="Length"/>
		<xs:attribute name="border" type="Pixels"/>
		<xs:attribute name="frame" type="TFrame"/>
		<xs:attribute name="rules" type="TRules"/>
		<xs:attribute name="cellspacing" type="Length"/>
		<xs:attribute name="cellpadding" type="Length"/>
	</xs:complexType>
</xs:element>

<xs:element name="caption" type="inlineType"/>

<!--
COLGROUP groups a set of COL elements. It allows you to group
several semantically related columns together.
-->
<xs:element name="colgroup">
	<xs:complexType>
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="col"/>
		</xs:sequence>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="span" type="xs:integer"/>
		<xs:attribute name="width" type="MultiLength"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>
		

<!--
 COL elements define the alignment properties for cells in
 one or more columns.

 The WIDTH attribute specifies the width of the columns, e.g.

     width=64        width in screen pixels
     width=0.5*      relative width of 0.5

 The SPAN attribute causes the attributes of one
 COL element to apply to more than one column.
-->
<xs:element name="col">
	<xs:complexType>
		<xs:attributeGroup ref="attrs"/>
		<xs:attribute name="span" type="xs:integer"/>
		<xs:attribute name="width" type="MultiLength"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>

<!--
    Use THEAD to duplicate headers when breaking table
    across page boundaries, or for static headers when
    TBODY sections are rendered in scrolling panel.

    Use TFOOT to duplicate footers when breaking table
    across page boundaries, or for static footers when
    TBODY sections are rendered in scrolling panel.

    Use multiple TBODY sections when rules are needed
    between groups of table rows.
-->
<xs:element name="thead" type="TgroupType"/>
<xs:element name="tfoot" type="TgroupType"/>
<xs:element name="tbody" type="TgroupType"/>


<xs:element name="tr">
	<xs:complexType>
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="th"/>
			<xs:element ref="td"/>
		</xs:choice>
		<xs:attributeGroup ref="attrs"/>
		<xs:attributeGroup ref="cellhalign"/>
		<xs:attributeGroup ref="cellvalign"/>
	</xs:complexType>
</xs:element>

<xs:element name="th" type="tdthType"/>
<xs:element name="td" type="tdthType"/>



</xs:schema>
